@using System.Web.UI.WebControls
@using PGRLF.MainWeb.Forms.Enums
@using PGRLF.MainWeb.Forms.FormClasses.Templates
@model PGRLF.MainWeb.Forms.FormClasses.PojisteniLesnichPorostu

@{
    ViewBag.Title = ViewBag.FormName;
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}

<div class="text-center">
    <h1>Program "Pojištění lesních porostů"</h1>
</div>
<p>(* - Údaje označené hvězdičkou je nutné vyplnit.)</p>

<fieldset class="fieldset">
    <legend>Právní forma</legend>
    <div class="row">
        <div class="large-10 columns">
            <label class="middle" for="rbFyzickaOsoba">Fyzická osoba</label>
        </div>
        <div class="large-2 columns">
            <div class="switch large">
                @Html.RadioButtonFor(m => m.PravniForma, PravniForma.FyzickaOsoba, new { @class = "switch-input", @id = "rbFyzickaOsoba" })
                <label class="switch-paddle" for="rbFyzickaOsoba">
                    <span class="switch-active" aria-hidden="true">Ano</span>
                    <span class="switch-inactive" aria-hidden="true">Ne</span>
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-10 columns">
            <label class="middle" for="rbPravnickaOsoba">Právnická osoba</label>
        </div>
        <div class="large-2 columns">
            <div class="switch large">
                @Html.RadioButtonFor(m => m.PravniForma, PravniForma.PravnickaOsoba, new { @class = "switch-input", @id = "rbPravnickaOsoba" })
                <label class="switch-paddle" for="rbPravnickaOsoba">
                    <span class="switch-active" aria-hidden="true">Ano</span>
                    <span class="switch-inactive" aria-hidden="true">Ne</span>
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-10 columns">
            <label class="middle" for="rbSvazekObci">Obec / svazek obcí</label>
        </div>
        <div class="large-2 columns">
            <div class="switch large">
                @Html.RadioButtonFor(m => m.PravniForma, PravniForma.SvazekObci, new { @class = "switch-input", @id = "rbSvazekObci" })
                <label class="switch-paddle" for="rbSvazekObci">
                    <span class="switch-active" aria-hidden="true">Ano</span>
                    <span class="switch-inactive" aria-hidden="true">Ne</span>
                </label>
            </div>
        </div>
    </div>
</fieldset>

@Html.EditorFor(m => m.FyzickaOsoba)
@Html.EditorFor(m => m.PravnickaOsoba)
@Html.EditorFor(m => m.SvazekObci)

<fieldset class="fieldset">
    <legend>Společná část</legend>
    @Html.EditorFor(m => m.Kontakt)
    @Html.EditorFor(m => m.BankovniSpojeni)
    @Html.EditorFor(m => m.ObchodniRejstrik)
    @Html.EditorFor(m => m.PlanovaneUkonceni)
</fieldset>

<fieldset class="fieldset">
    <legend>Čestné prohlášení</legend>
    <div class="row">
        <div class="large-12 columns">
            <div class="callout primary">
                @Html.Raw(@PGRLF.MainWeb.Forms.FormResources.CestneProhlaseni)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-6 columns">
            <label class="middle">Souhlasím</label>
        </div>
        <div class="large-4 columns">
            <label class="middle">@Html.ValidationMessageFor(m => m.CestneProhlaseni, string.Empty, new {@class="switch-validation-error"})</label>
        </div>
        <div class="large-2 columns">
            <div class="switch large">
                @Html.CheckBoxFor(m => m.CestneProhlaseni, new { @class = "switch-input", @id = "cbCestneProhlaseni" })
                <label class="switch-paddle" for="cbCestneProhlaseni">
                    <span class="switch-active" aria-hidden="true">Ano</span>
                    <span class="switch-inactive" aria-hidden="true">Ne</span>
                </label>
            </div>
        </div>
    </div>
</fieldset>

@Html.EditorFor(m => m.DeMinimis)

<fieldset class="fieldset">
    <legend>Souhlas se zpracováním údajů</legend>
    <div class="row">
        <div class="large-12 columns">
            <div class="callout primary">
                @Html.Raw(@PGRLF.MainWeb.Forms.FormResources.SouhlasSeZpracovanim)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-6 columns">
            <label class="middle">Souhlasím</label>
        </div>
        <div class="large-4 columns">
            <label class="middle">@Html.ValidationMessageFor(m => m.SouhlasSeZpracovanim, string.Empty, new { @class = "switch-validation-error" })</label>
        </div>
        <div class="large-2 columns">
            <div class="switch large">
                @Html.CheckBoxFor(m => m.SouhlasSeZpracovanim, new { @class = "switch-input", @id = "cbSouhlasSeZpracovanim" })
                <label class="switch-paddle" for="cbSouhlasSeZpracovanim">
                    <span class="switch-active" aria-hidden="true">Ano</span>
                    <span class="switch-inactive" aria-hidden="true">Ne</span>
                </label>
            </div>
        </div>
    </div>
</fieldset>



@section Scripts
{
    <script>

        $(document).ready(function () {

            updateView();

            $("input[type=radio], input[type=checkbox]").change(updateView);


            //AddZodpovednaOsoba

            $("#divZodpovednaOsobaList").on("click", ".label.add", function () {
                var label = $(this);
                hideElement(label);
                $.ajax({
                    url: "@Url.Action("Show", "Form")" + "/AddZodpovednaOsoba",
                    type: "POST",
                    dataType: "html",
                    success: function (view) {
                        $("#divZodpovednaOsobaList").append(view);
                    },
                    complete: function() {
                        $("form").removeData("validator");
                        $("form").removeData("unobtrusiveValidation");
                        $.validator.unobtrusive.parse("form");
                        showLastLabelAdd('#divZodpovednaOsobaList');
                    }
                });
            });

            $("#divZodpovednaOsobaList").on("click", ".label.remove", function () {
                var size = $("#divZodpovednaOsobaList").children("div.callout").size();
                if (size > 1) {
                    $(this).closest("input[type=hidden]").remove();
                    $(this).closest("input[type=hidden]").remove();
                    $(this).closest(".callout").remove();
                }
                $("form").removeData("validator");
                $("form").removeData("unobtrusiveValidation");
                $.validator.unobtrusive.parse("form");
                showLastLabelAdd('#divZodpovednaOsobaList');
            });

            //AddDM2PropojeniOsoba

            $("#divDM2PropojeniList").on("click", ".label.add", function () {
                var label = $(this);
                hideElement(label);
                $.ajax({
                    url: "@Url.Action("Show", "Form")" + "/AddDM2PropojeniOsoba",
                    type: "POST",
                    dataType: "html",
                    success: function (view) {
                        $("#divDM2PropojeniList").append(view);
                    },
                    complete: function() {
                        $("form").removeData("validator");
                        $("form").removeData("unobtrusiveValidation");
                        $.validator.unobtrusive.parse("form");
                        showLastLabelAdd('#divDM2PropojeniList');
                    }
                });
            });

            $("#divDM2PropojeniList").on("click", ".label.remove", function () {
                var size = $("#divDM2PropojeniList").children("div.callout").size();
                if (size > 1) {
                    $(this).closest("input[type=hidden]").remove();
                    $(this).closest("input[type=hidden]").remove();
                    $(this).closest(".callout").remove();
                }
                $("form").removeData("validator");
                $("form").removeData("unobtrusiveValidation");
                $.validator.unobtrusive.parse("form");
                showLastLabelAdd("#divDM2PropojeniList");
            });

            //AddDM3SpojeniOsoba

            $("#divDM3SpojeniList").on("click", ".label.add", function () {
                var label = $(this);
                hideElement(label);
                $.ajax({
                    url: "@Url.Action("Show", "Form")" + "/AddDM3SpojeniOsoba",
                    type: "POST",
                    dataType: "html",
                    success: function (view) {
                        $("#divDM3SpojeniList").append(view);
                    },
                    complete: function() {
                        $("form").removeData("validator");
                        $("form").removeData("unobtrusiveValidation");
                        $.validator.unobtrusive.parse("form");
                        showLastLabelAdd("#divDM3SpojeniList");
                    }
                });
            });

            $("#divDM3SpojeniList").on("click", ".label.remove", function () {
                var size = $("#divDM3SpojeniList").children("div.callout").size();
                if (size > 1) {
                    $(this).closest("input[type=hidden]").remove();
                    $(this).closest("input[type=hidden]").remove();
                    $(this).closest(".callout").remove();
                }
                $("form").removeData("validator");
                $("form").removeData("unobtrusiveValidation");
                $.validator.unobtrusive.parse("form");
                showLastLabelAdd("#divDM3SpojeniList");
            });

            //AddDM4RozpojeniOsoba

            $("#DM4RozdeleniPodporaList").on("click", ".label.add", function () {
                var label = $(this);
                hideElement(label);
                $.ajax({
                    url: "@Url.Action("Show", "Form")" + "/AddDM4RozdeleniPodpora",
                    type: "POST",
                    dataType: "html",
                    success: function (view) {
                        $("#DM4RozdeleniPodporaList").append(view);
                    },
                    complete: function() {
                        $("form").removeData("validator");
                        $("form").removeData("unobtrusiveValidation");
                        $.validator.unobtrusive.parse("form");
                        showLastLabelAdd("#DM4RozdeleniPodporaList");
                    }
                });
            });

            $("#DM4RozdeleniPodporaList").on("click", ".label.remove", function () {
                var size = $("#DM4RozdeleniPodporaList").children("div.callout").size();
                if (size > 1) {
                    $(this).closest("input[type=hidden]").remove();
                    $(this).closest("input[type=hidden]").remove();
                    $(this).closest(".callout").remove();
                }
                $("form").removeData("validator");
                $("form").removeData("unobtrusiveValidation");
                $.validator.unobtrusive.parse("form");
                showLastLabelAdd("#DM4RozdeleniPodporaList");
            });

        });

    </script>
}