@using PGRLF.MainWeb.Forms.FormClasses
@using PGRLF.MainWeb.Forms.Validation
@using Telerik.Web.Mvc.UI
@model PGRLF.MainWeb.Forms.FormClasses.RTest_ViewModel


@{
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}


@Html.RadioButtonFor(m => m.TypPodprogramu, "answer1")
@Html.RadioButtonFor(m => m.TypPodprogramu, "answer2")
@Html.RadioButtonFor(m => m.TypPodprogramu, "answer3")
@Html.RadioButtonFor(m => m.TypPodprogramu, "answer4")


@using (Html.BeginForm("Submit", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <h3>Multiple file upload with asp.net MVCc/MVC3/MVC4/MVC5, C# and HTML5 </h3>
    <input type="file" name="files" value="" multiple="multiple" />
    <div style="color:Red;font-size:14px">@ViewBag.Message</div>
}


<strong style="padding-left:5em;">Podpora pojištění</strong>
<fieldset>
    <legend>Pojištění</legend>
    <div class="row">
        <div class="large-3 columns">@Html.LabelWithAsterixFor(m => m.PojisteniPlodinSpecialnich)</div>
        <div class="large-5 columns">&nbsp;</div>
        <div class="large-2 columns" style="text-align:right;"><label><span><br />Zvolit Ano / Ne</span></label></div>
        <div class="large-2 columns">
            <div class="switch">
                @Html.RadioButtonFor(m => m.PojisteniPlodinSpecialnich, false, new { @checked = "checked", @id = "rbSpecOff" })
                <label>Ne</label>
                @Html.RadioButtonFor(m => m.PojisteniPlodinSpecialnich, true, new { @id = "rbSpecOn" })
                <label>Ano</label>

                <span></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-3 columns">@Html.LabelWithAsterixFor(m => m.PojisteniPlodinOstatnich)</div>
        <div class="large-5 columns">&nbsp;</div>
        <div class="large-2 columns" style="text-align:right;"><label><span><br />Zvolit Ano / Ne</span></label></div>
        <div class="large-2 columns">
            <div class="switch">
                @Html.RadioButtonFor(m => m.PojisteniPlodinOstatnich, false, new { @checked = "checked", @id = "rbOstOff" })
                <label>Ne</label>
                @Html.RadioButtonFor(m => m.PojisteniPlodinOstatnich, true, new { @id = "rbOstOn" })
                <label>Ano</label>

                <span></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-3 columns">@Html.LabelWithAsterixFor(m => m.PojisteniHospodarskychZvirat)</div>
        <div class="large-5 columns">&nbsp;</div>
        <div class="large-2 columns" style="text-align:right;"><label><span><br />Zvolit Ano / Ne</span></label></div>
        <div class="large-2 columns">
            <div class="switch">
                @Html.RadioButtonFor(m => m.PojisteniHospodarskychZvirat, false, new { @checked = "checked", @id = "rbHospOff" })
                <label>Ne</label>
                @Html.RadioButtonFor(m => m.PojisteniHospodarskychZvirat, true, new { @id = "rbHospOn" })
                <label>Ano</label>

                <span></span>
            </div>
        </div>
    </div>

</fieldset>


<!-- Default switch -->
<div class="row">
    <div class="large-4 columns">
        &nbsp;
    </div>
    <div class="large-4 columns" style="text-align:right;">
        <label><span><br />Zvolit Fyzickou / Právnickou osobu</span></label>
    </div>
    <div class="large-4 columns">
        <div class="switch">
            @Html.RadioButtonFor(m => m.zadatel.IsPravnickaOsoba, false, new { @checked = "checked", @id = "rbFO" })
            <label>Fyzická osoba</label>
            @Html.RadioButtonFor(m => m.zadatel.IsPravnickaOsoba, true, new { @id = "rbPO" })
            <label>Právnická osoba</label>
            <span></span>

        </div>
    </div>

</div>


<fieldset id="fsFyzickaOsoba" @if (Model.zadatel.IsPravnickaOsoba)
                              { @Html.Raw("style=\"display:none;\"")  ; }>
    <legend>Fyzická osoba</legend>
    <div class="row">
        <div class="large-6 columns">@Html.LabelWithAsterixFor(m => m.zadatel.FORodneCislo)@Html.EditorFor(m => m.zadatel.FORodneCislo)@Html.ValidationMessageFor(m => m.zadatel.FORodneCislo)</div>
        <div class="large-6 columns">@Html.LabelWithAsterixFor(m => m.zadatel.FODatumNarozeni)@Html.EditorFor(m => m.zadatel.FODatumNarozeni) @Html.ValidationMessageFor(m => m.zadatel.FODatumNarozeni)</div>
    </div>

    <div class="row">
        <div class="large-6 columns">@Html.LabelWithAsterixFor(m => m.zadatel.XFORodneCislo)@Html.TextAreaFor(m => m.zadatel.XFORodneCislo,10,55,null)@Html.ValidationMessageFor(m => m.zadatel.XFORodneCislo)</div>
        <div class="large-6 columns">@Html.LabelWithAsterixFor(m => m.zadatel.FODatumNarozeni)@Html.EditorFor(m => m.zadatel.FODatumNarozeni) @Html.ValidationMessageFor(m => m.zadatel.FODatumNarozeni)</div>
    </div>

    <div class="row">
        <div class="large-6 columns">@Html.LabelWithAsterixFor(m => m.zadatel.FOIC)@Html.EditorFor(m => m.zadatel.FOIC) @Html.ValidationMessageFor(m => m.zadatel.FOIC)</div>
        <div class="large-6 columns">@Html.LabelWithAsterixFor(m => m.zadatel.FODIC)@Html.EditorFor(m => m.zadatel.FODIC) @Html.ValidationMessageFor(m => m.zadatel.FODIC)</div>
    </div>

    <div class="row">
        <div class="large-4 columns">@Html.LabelWithAsterixFor(m => m.zadatel.FOTitulPredMenom)@Html.EditorFor(m => m.zadatel.FOTitulPredMenom) @Html.ValidationMessageFor(m => m.zadatel.FOTitulPredMenom)</div>
        <div class="large-8 columns">@Html.LabelWithAsterixFor(m => m.zadatel.FOPrijmeni)@Html.EditorFor(m => m.zadatel.FOPrijmeni) @Html.ValidationMessageFor(m => m.zadatel.FOPrijmeni)</div>
    </div>
    <div class="row">
        <div class="large-4 columns">@Html.LabelWithAsterixFor(m => m.zadatel.FOTitulZaMenom)@Html.EditorFor(m => m.zadatel.FOTitulZaMenom) @Html.ValidationMessageFor(m => m.zadatel.FOTitulZaMenom)</div>
        <div class="large-8 columns">@Html.LabelWithAsterixFor(m => m.zadatel.FOJmeno)@Html.EditorFor(m => m.zadatel.FOJmeno) @Html.ValidationMessageFor(m => m.zadatel.FOJmeno)</div>
    </div>
    <h5>Adresa trvalého pobytu</h5>
    <div class="row">
        <div class="large-8 columns">@Html.LabelWithAsterixFor(m => m.zadatel.TPUlice)@Html.EditorFor(m => m.zadatel.TPUlice)@Html.ValidationMessageFor(m => m.zadatel.TPUlice)</div>
        <div class="large-4 columns red">@Html.LabelWithAsterixFor(m => m.zadatel.TPCisloPopisne)@Html.EditorFor(m => m.zadatel.TPCisloPopisne)@Html.ValidationMessageFor(m => m.zadatel.TPCisloPopisne)</div>
    </div>
    <div class="row">
        <div class="large-4 columns">@Html.LabelWithAsterixFor(m => m.zadatel.TPPSC)@Html.EditorFor(m => m.zadatel.TPPSC)@Html.ValidationMessageFor(m => m.zadatel.TPPSC)</div>
        <div class="large-4 columns blue">@Html.LabelWithAsterixFor(m => m.zadatel.TPCisloOrientacni)@Html.EditorFor(m => m.zadatel.TPCisloOrientacni)@Html.ValidationMessageFor(m => m.zadatel.TPCisloOrientacni)</div>
    </div>

    <div class="row">
        <div class="large-12 columns">@Html.LabelWithAsterixFor(m => m.zadatel.TPObec)@Html.EditorFor(m => m.zadatel.TPObec)@Html.ValidationMessageFor(m => m.zadatel.TPObec)</div>
    </div>
    <div class="row">
        <div class="large-12 columns">@Html.LabelWithAsterixFor(m => m.zadatel.TPKraj)@Html.EditorFor(m => m.zadatel.TPKraj)@Html.ValidationMessageFor(m => m.zadatel.TPKraj)</div>
    </div>
    <div class="row">
        <div class="large-4 columns">@Html.LabelWithAsterixFor(m => m.zadatel.TPTelefon1)@Html.EditorFor(m => m.zadatel.TPTelefon1)@Html.ValidationMessageFor(m => m.zadatel.TPTelefon1)</div>
        <div class="large-4 columns">@Html.LabelWithAsterixFor(m => m.zadatel.TPTelefon2)@Html.EditorFor(m => m.zadatel.TPTelefon2)@Html.ValidationMessageFor(m => m.zadatel.TPTelefon2)</div>
        <div class="large-4 columns">@Html.LabelWithAsterixFor(m => m.zadatel.TPFax)@Html.EditorFor(m => m.zadatel.TPFax)@Html.ValidationMessageFor(m => m.zadatel.TPFax)</div>
    </div>

    <div class="row">
        <div class="large-12 columns">@Html.LabelWithAsterixFor(m => m.zadatel.TPEmail)@Html.EditorFor(m => m.zadatel.TPEmail)@Html.ValidationMessageFor(m => m.zadatel.TPEmail)</div>
    </div>
    <h5>Místo podnikání</h5>
    <div class="row">
        <div class="large-8 columns">@Html.LabelWithAsterixFor(m => m.zadatel.JeMistoPodnikaniStejneFo)</div>
        <div class="large-2 columns" style="text-align:right;"><label><span><br />Zvolit Ano / Ne</span></label></div>
        <div class="large-2 columns">
            <div class="switch">
                @Html.RadioButtonFor(m => m.zadatel.JeMistoPodnikaniStejneFo, false, new { @checked = "checked", @id = "rbMistoFoOff" })
                <label>Ne</label>
                @Html.RadioButtonFor(m => m.zadatel.JeMistoPodnikaniStejneFo, true, new { @id = "rbMistoFoOn" })
                <label>Ano</label>

                <span></span>
            </div>
        </div>
    </div>

    <div id="misto_fo" @if (Model.zadatel.JeMistoPodnikaniStejneFo) { @Html.Raw("style=\"display:none;\"")  ; }>
        <div class="row">
            <div class="large-8 columns">@Html.LabelWithAsterixFor(m => m.zadatel.MPUlice)@Html.EditorFor(m => m.zadatel.MPUlice)@Html.ValidationMessageFor(m => m.zadatel.MPUlice)</div>
            <div class="large-4 columns red">@Html.LabelWithAsterixFor(m => m.zadatel.MPCisloPopisne)@Html.EditorFor(m => m.zadatel.MPCisloPopisne)@Html.ValidationMessageFor(m => m.zadatel.MPCisloPopisne)</div>
        </div>
        <div class="row">
            <div class="large-4 columns">@Html.LabelWithAsterixFor(m => m.zadatel.MPPSC)@Html.EditorFor(m => m.zadatel.MPPSC)@Html.ValidationMessageFor(m => m.zadatel.MPPSC)</div>
            <div class="large-4 columns blue">@Html.LabelWithAsterixFor(m => m.zadatel.MPCisloOrientacni)@Html.EditorFor(m => m.zadatel.MPCisloOrientacni)@Html.ValidationMessageFor(m => m.zadatel.MPCisloOrientacni)</div>
        </div>

        <div class="row">
            <div class="large-12 columns">@Html.LabelWithAsterixFor(m => m.zadatel.MPObec)@Html.EditorFor(m => m.zadatel.MPObec)@Html.ValidationMessageFor(m => m.zadatel.MPObec)</div>
        </div>
        <div class="row">
            <div class="large-12 columns">@Html.LabelWithAsterixFor(m => m.zadatel.MPKraj)@Html.EditorFor(m => m.zadatel.MPKraj)@Html.ValidationMessageFor(m => m.zadatel.MPKraj)</div>
        </div>
    </div>

</fieldset>
<fieldset @if (!Model.zadatel.IsPravnickaOsoba) { @Html.Raw("style=\"display:none;\"")  ; } id="fsPravnickaOsoba">
    <legend>Právnická osoba</legend>
    <div class="row">
        <div class="large-8 columns">@Html.LabelWithAsterixFor(m => m.zadatel.POObchodneJmeno)@Html.EditorFor(m => m.zadatel.POObchodneJmeno)@Html.ValidationMessageFor(m => m.zadatel.POObchodneJmeno)</div>
        <div class="large-4 columns">@Html.LabelWithAsterixFor(m => m.zadatel.POTypPO)@Html.EditorFor(m => m.zadatel.POTypPO)@Html.ValidationMessageFor(m => m.zadatel.POTypPO)</div>
    </div>
    <div class="row">
        <div class="large-6 columns">@Html.LabelWithAsterixFor(m => m.zadatel.POIC)@Html.EditorFor(m => m.zadatel.POIC)@Html.ValidationMessageFor(m => m.zadatel.POIC)</div>
        <div class="large-6 columns">@Html.LabelWithAsterixFor(m => m.zadatel.PODIC)@Html.EditorFor(m => m.zadatel.PODIC)@Html.ValidationMessageFor(m => m.zadatel.PODIC)</div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            <label><b>Jméno a funkce odpovědného zástupce(ců), oprávněného jednat a podepisovat za právnickou osobu (dle výpisu z obchodního rejstříku):</b></label>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">&nbsp;</div>
    </div>
    <div class="row">
        <div class="large-2 columns">@Html.LabelWithAsterixFor(m => m.zadatel.ZO1TitulPredJmenem)@Html.EditorFor(m => m.zadatel.ZO1TitulPredJmenem)@Html.ValidationMessageFor(m => m.zadatel.ZO1TitulPredJmenem)</div>
        <div class="large-3 columns">@Html.LabelWithAsterixFor(m => m.zadatel.ZO1Jmeno)@Html.EditorFor(m => m.zadatel.ZO1Jmeno)@Html.ValidationMessageFor(m => m.zadatel.ZO1Jmeno)</div>
        <div class="large-3 columns">@Html.LabelWithAsterixFor(m => m.zadatel.ZO1Prijmeni)@Html.EditorFor(m => m.zadatel.ZO1Prijmeni)@Html.ValidationMessageFor(m => m.zadatel.ZO1Prijmeni)</div>
        <div class="large-2 columns">@Html.LabelWithAsterixFor(m => m.zadatel.ZO1TitulZaJmenem)@Html.EditorFor(m => m.zadatel.ZO1TitulZaJmenem)@Html.ValidationMessageFor(m => m.zadatel.ZO1TitulZaJmenem)</div>
        <div class="large-2 columns">@Html.LabelWithAsterixFor(m => m.zadatel.ZO1Funkce)@Html.EditorFor(m => m.zadatel.ZO1Funkce)@Html.ValidationMessageFor(m => m.zadatel.ZO1Funkce)</div>
    </div>

    <div class="row">
        <div class="large-2 columns">@Html.LabelWithAsterixFor(m => m.zadatel.ZO2TitulPredJmenem)@Html.EditorFor(m => m.zadatel.ZO2TitulPredJmenem)@Html.ValidationMessageFor(m => m.zadatel.ZO2TitulPredJmenem)</div>
        <div class="large-3 columns">@Html.LabelWithAsterixFor(m => m.zadatel.ZO2Jmeno)@Html.EditorFor(m => m.zadatel.ZO2Jmeno)@Html.ValidationMessageFor(m => m.zadatel.ZO2Jmeno)</div>
        <div class="large-3 columns">@Html.LabelWithAsterixFor(m => m.zadatel.ZO2Prijmeni)@Html.EditorFor(m => m.zadatel.ZO2Prijmeni)@Html.ValidationMessageFor(m => m.zadatel.ZO2Prijmeni)</div>
        <div class="large-2 columns">@Html.LabelWithAsterixFor(m => m.zadatel.ZO2TitulZaJmenem)@Html.EditorFor(m => m.zadatel.ZO2TitulZaJmenem)@Html.ValidationMessageFor(m => m.zadatel.ZO2TitulZaJmenem)</div>
        <div class="large-2 columns">@Html.LabelWithAsterixFor(m => m.zadatel.ZO2Funkce)@Html.EditorFor(m => m.zadatel.ZO2Funkce)@Html.ValidationMessageFor(m => m.zadatel.ZO2Funkce)</div>
    </div>

    <div class="row">
        <div class="large-2 columns">@Html.LabelWithAsterixFor(m => m.zadatel.ZO3TitulPredJmenem)@Html.EditorFor(m => m.zadatel.ZO3TitulPredJmenem)@Html.ValidationMessageFor(m => m.zadatel.ZO3TitulPredJmenem)</div>
        <div class="large-3 columns">@Html.LabelWithAsterixFor(m => m.zadatel.ZO3Jmeno)@Html.EditorFor(m => m.zadatel.ZO3Jmeno)@Html.ValidationMessageFor(m => m.zadatel.ZO3Jmeno)</div>
        <div class="large-3 columns">@Html.LabelWithAsterixFor(m => m.zadatel.ZO3Prijmeni)@Html.EditorFor(m => m.zadatel.ZO3Prijmeni)@Html.ValidationMessageFor(m => m.zadatel.ZO3Prijmeni)</div>
        <div class="large-2 columns">@Html.LabelWithAsterixFor(m => m.zadatel.ZO3TitulZaJmenem)@Html.EditorFor(m => m.zadatel.ZO3TitulZaJmenem)@Html.ValidationMessageFor(m => m.zadatel.ZO3TitulZaJmenem)</div>
        <div class="large-2 columns">@Html.LabelWithAsterixFor(m => m.zadatel.ZO3Funkce)@Html.EditorFor(m => m.zadatel.ZO3Funkce)@Html.ValidationMessageFor(m => m.zadatel.ZO3Funkce)</div>
    </div>
    <h5>Sídlo společnosti</h5>
    <div class="row">
        <div class="large-12 columns">@Html.LabelWithAsterixFor(m => m.zadatel.SSSidloSpolecnosti)@Html.EditorFor(m => m.zadatel.SSSidloSpolecnosti)@Html.ValidationMessageFor(m => m.zadatel.SSSidloSpolecnosti)</div>
    </div>
    <div class="row">
        <div class="large-8 columns">@Html.LabelWithAsterixFor(m => m.zadatel.SSUlice)@Html.EditorFor(m => m.zadatel.SSUlice)@Html.ValidationMessageFor(m => m.zadatel.SSUlice)</div>
        <div class="large-4 columns red">@Html.LabelWithAsterixFor(m => m.zadatel.SSCisloPopisne)@Html.EditorFor(m => m.zadatel.SSCisloPopisne)@Html.ValidationMessageFor(m => m.zadatel.SSCisloPopisne)</div>
    </div>
    <div class="row">
        <div class="large-4 columns">@Html.LabelWithAsterixFor(m => m.zadatel.SSPSC)@Html.EditorFor(m => m.zadatel.SSPSC)@Html.ValidationMessageFor(m => m.zadatel.SSPSC)</div>
        <div class="large-4 columns blue">@Html.LabelWithAsterixFor(m => m.zadatel.SSCisloOrientacni)@Html.EditorFor(m => m.zadatel.SSCisloOrientacni)@Html.ValidationMessageFor(m => m.zadatel.SSCisloOrientacni)</div>
    </div>

    <div class="row">
        <div class="large-12 columns">@Html.LabelWithAsterixFor(m => m.zadatel.SSObec)@Html.EditorFor(m => m.zadatel.SSObec)@Html.ValidationMessageFor(m => m.zadatel.SSObec)</div>
    </div>
    <div class="row">
        <div class="large-12 columns">@Html.LabelWithAsterixFor(m => m.zadatel.SSKraj)@Html.EditorFor(m => m.zadatel.SSKraj)@Html.ValidationMessageFor(m => m.zadatel.SSKraj)</div>
    </div>
    <div class="row">
        <div class="large-4 columns">@Html.LabelWithAsterixFor(m => m.zadatel.SSTelefon1)@Html.EditorFor(m => m.zadatel.SSTelefon1)@Html.ValidationMessageFor(m => m.zadatel.SSTelefon1)</div>
        <div class="large-4 columns">@Html.LabelWithAsterixFor(m => m.zadatel.SSTelefon2)@Html.EditorFor(m => m.zadatel.SSTelefon2)@Html.ValidationMessageFor(m => m.zadatel.SSTelefon2)</div>
        <div class="large-4 columns">@Html.LabelWithAsterixFor(m => m.zadatel.SSFax)@Html.EditorFor(m => m.zadatel.SSFax)@Html.ValidationMessageFor(m => m.zadatel.SSFax)</div>
    </div>

    <div class="row">
        <div class="large-12 columns">@Html.LabelWithAsterixFor(m => m.zadatel.SSEmail)@Html.EditorFor(m => m.zadatel.SSEmail)@Html.ValidationMessageFor(m => m.zadatel.SSEmail)</div>
    </div>
    <div class="row">
        <div class="large-12 columns">@Html.LabelWithAsterixFor(m => m.zadatel.ZapisDoObchodnihoRejstriku)@Html.EditorFor(m => m.zadatel.ZapisDoObchodnihoRejstriku)@Html.ValidationMessageFor(m => m.zadatel.ZapisDoObchodnihoRejstriku)</div>
    </div>
    <div class="row">
        <div class="large-8 columns">@Html.LabelWithAsterixFor(m => m.zadatel.Vydal)@Html.EditorFor(m => m.zadatel.Vydal)@Html.ValidationMessageFor(m => m.zadatel.Vydal)</div>
        <div class="large-4 columns">@Html.LabelWithAsterixFor(m => m.zadatel.DatumZapisu)@Html.EditorFor(m => m.zadatel.DatumZapisu)@Html.ValidationMessageFor(m => m.zadatel.DatumZapisu)</div>
    </div>
    <h5>Místo podnikání</h5>
    <div class="row">
        <div class="large-8 columns">@Html.LabelWithAsterixFor(m => m.zadatel.JeMistoPodnikaniStejnePo)</div>
        <div class="large-2 columns" style="text-align:right;"><label><span><br />Zvolit Ano / Ne</span></label></div>
        <div class="large-2 columns">
            <div class="switch">
                @Html.RadioButtonFor(m => m.zadatel.JeMistoPodnikaniStejnePo, false, new { @checked = "checked", @id = "rbMistoPoOff" })
                <label>Ne</label>
                @Html.RadioButtonFor(m => m.zadatel.JeMistoPodnikaniStejnePo, true, new { @id = "rbMistoPoOn" })
                <label>Ano</label>

                <span></span>
            </div>
        </div>
    </div>

    <div id="misto_po" @if (Model.zadatel.JeMistoPodnikaniStejnePo) { @Html.Raw("style=\"display:none;\"")  ; }>
        <div class="row">
            <div class="large-8 columns">@Html.LabelWithAsterixFor(m => m.zadatel.MPUlicePo)@Html.EditorFor(m => m.zadatel.MPUlicePo)@Html.ValidationMessageFor(m => m.zadatel.MPUlicePo)</div>
            <div class="large-4 columns red">@Html.LabelWithAsterixFor(m => m.zadatel.MPCisloPopisnePo)@Html.EditorFor(m => m.zadatel.MPCisloPopisnePo)@Html.ValidationMessageFor(m => m.zadatel.MPCisloPopisnePo)</div>
        </div>
        <div class="row">
            <div class="large-4 columns">@Html.LabelWithAsterixFor(m => m.zadatel.MPPSCPo)@Html.EditorFor(m => m.zadatel.MPPSCPo)@Html.ValidationMessageFor(m => m.zadatel.MPPSCPo)</div>
            <div class="large-4 columns blue">@Html.LabelWithAsterixFor(m => m.zadatel.MPCisloOrientacniPo)@Html.EditorFor(m => m.zadatel.MPCisloOrientacniPo)@Html.ValidationMessageFor(m => m.zadatel.MPCisloOrientacniPo)</div>
        </div>

        <div class="row">
            <div class="large-12 columns">@Html.LabelWithAsterixFor(m => m.zadatel.MPObecPo)@Html.EditorFor(m => m.zadatel.MPObecPo)@Html.ValidationMessageFor(m => m.zadatel.MPObecPo)</div>
        </div>
        <div class="row">
            <div class="large-12 columns">@Html.LabelWithAsterixFor(m => m.zadatel.MPKrajPo)@Html.EditorFor(m => m.zadatel.MPKrajPo)@Html.ValidationMessageFor(m => m.zadatel.MPKrajPo)</div>
        </div>
    </div>
</fieldset>
<fieldset>
    <legend>Společná část pro fyzické a právnické osoby</legend>
    <div class="row">
        <div class="large-12 columns">@Html.LabelWithAsterixFor(m => m.zadatel.EvidenceDoObchodnihoRejstriku)@Html.EditorFor(m => m.zadatel.EvidenceDoObchodnihoRejstriku)@Html.ValidationMessageFor(m => m.zadatel.EvidenceDoObchodnihoRejstriku)</div>
    </div>
    <div class="row">
        <div class="large-8 columns">&nbsp;</div>
        <div class="large-4 columns">@Html.LabelWithAsterixFor(m => m.zadatel.DatumVydaniOsvedceni)@Html.EditorFor(m => m.zadatel.DatumVydaniOsvedceni)@Html.ValidationMessageFor(m => m.zadatel.DatumVydaniOsvedceni)</div>
    </div>

    <div class="row">
        <div class="large-4 columns">
            @Html.LabelWithAsterixFor(m => m.zadatel.UkonceniCinnosti)<div class="switch">
            @Html.RadioButtonFor(m => m.zadatel.UkonceniCinnosti, false, new { @checked = "checked" })
            <label>Ne</label>
            @Html.RadioButtonFor(m => m.zadatel.UkonceniCinnosti, true)
            <label>Ano</label>

            <span></span>
        </div>
    </div>
    <div class="large-2 columns"><label><span><br /><br />Zvolit Ano / Ne</span></label></div>
    <div class="large-4 columns" id="DatumUkonceniCell" style="display: none;">@Html.LabelWithAsterixFor(m => m.zadatel.DatumUkonceni)@Html.EditorFor(m => m.zadatel.DatumUkonceni)@Html.ValidationMessageFor(m => m.zadatel.DatumUkonceni)</div>
</div>


<div class="row">
    <div class="large-4 columns">
        @Html.LabelWithAsterixFor(m => m.zadatel.ProdejPodniku)
    <div class="switch">
        @Html.RadioButtonFor(m => m.zadatel.ProdejPodniku, false, new { @checked = "checked" })
        <label>Ne</label>
        @Html.RadioButtonFor(m => m.zadatel.ProdejPodniku, true)
        <label>Ano</label>

        <span></span>
    </div>
</div>
<div class="large-2 columns"><label><span><br /><br />Zvolit Ano / Ne</span></label></div>
<div class="large-4 columns" id="DatumProdejeCell" style="display: none;">@Html.LabelWithAsterixFor(m => m.zadatel.DatumProdeje)@Html.EditorFor(m => m.zadatel.DatumProdeje)@Html.ValidationMessageFor(m => m.zadatel.DatumProdeje)</div>
</div>

<div class="row">
    <div class="large-12 columns">@Html.LabelWithAsterixFor(m => m.zadatel.BankovniSpojeni)@Html.EditorFor(m => m.zadatel.BankovniSpojeni)@Html.ValidationMessageFor(m => m.zadatel.BankovniSpojeni)</div>
</div>
<div class="row">
    <div class="large-6 columns">@Html.LabelWithAsterixFor(m => m.zadatel.CisloUctu)@Html.EditorFor(m => m.zadatel.CisloUctu)@Html.ValidationMessageFor(m => m.zadatel.CisloUctu)</div>
    <div class="large-6 columns">@Html.LabelWithAsterixFor(m => m.zadatel.KodBanky)@Html.EditorFor(m => m.zadatel.KodBanky)@Html.ValidationMessageFor(m => m.zadatel.KodBanky)</div>
</div>
</fieldset>
<fieldset>
    <legend>Čestné prohlášení</legend>


    <div class="row"><div class="large-10 columns">Prohlašuji, že údaje uvedené v této žádosti o podporu pojištění z Podpůrného garančního rolnického a lesnického fondu, a.s. a v jejích přílohách jsou pravdivé a že splňují všechny obecné podmínky pro poskytnutí Podpory. Jsem si vědom/vědoma právních následků případného uvedení nepravdivých nebo neúplných údajů.</div></div>
    <div class="row"><div class="large-10 columns">Prohlašuji, že mi není známo, že by k níže uvedenému datu byl na majetek žadatele prohlášen konkurs či vstoupil do likvidace.</div></div>
    <div class="row"><div class="large-10 columns">Dále svým podpisem potvrzuji, že jsem se podrobně seznámil/seznámila se Zásadami pro poskytování finanční podpory pojištění prostřednictvím Podpůrného a garančního rolnického a lesnického fondu, a.s. a s Výkladovým listem k Pokynům PGRLF, a.s. v platném znění.</div></div>
    <div class="row">
        <div class="large-6 columns">
            &nbsp;
        </div>

        <div class="large-2 columns">

            @Html.EditorFor(m => m.CestneProhlaseni)<br />

            @Html.ValidationMessageFor(m => m.CestneProhlaseni)
        </div>
        <div class="large-4 columns" style="text-align:right;">
            (Potvrzuji, že souhlasím *)
        </div>
    </div>
</fieldset>
<fieldset>
    <legend>Čestné prohlášení</legend>
    <div class="row"><div class="large-10 columns">Prohlašuji, že podnik Žadatele o podporu (jméno / obchodní firma / název Žadatele)</div></div>
    <div class="row"><div class="large-12 columns">@Html.EditorFor(m => m.CPNazev)@Html.ValidationMessageFor(m => m.CPNazev)</div></div>
    <div class="row"><div class="large-12 columns">@Html.LabelWithAsterixFor(m => m.CPICRC)@Html.EditorFor(m => m.CPICRC)@Html.ValidationMessageFor(m => m.CPICRC)</div></div>
    <div class="row"><div class="large-10 columns">splňuje všechny podmínky proto, aby mohl být zařazen mezi malé a střední podniky ve smyslu definice uvedené v doporučení Komise 2003/361/ES ze dne 6. května 2003 o definici mikropodniků, malých a středních podniků. Jsem si vědom/vědoma právních následků případného uvedení nepravdivých údajů.</div></div>
    <div class="row">
        <div class="large-6 columns">
            &nbsp;
        </div>

        <div class="large-2 columns">
            <span style="size:10em;">
                @Html.EditorFor(m => m.SplneniPodminek)
            </span>
            <br /><br />@Html.ValidationMessageFor(m => m.SplneniPodminek)
        </div>
        <div class="large-4 columns" style="text-align:right;">
            (Potvrzuji, že souhlasím *)
        </div>
    </div>
</fieldset>


<fieldset>
    <legend>Pojišťovny</legend>
    <fieldset id="poistSpec" @if (!Model.PojisteniPlodinSpecialnich) { @Html.Raw("style=\"display:none;\"")  ; }>
        <legend>Pojištění plodin speciálních</legend>
        <br />
        @{
            if (!Model.PojistovnySpecialniPlodiny.Any())
            {
                Model.PojistovnySpecialniPlodiny.Add(new Pojistovna());
            }
        }
        <div class="data">
            @for (int i = 0; i < Model.PojistovnySpecialniPlodiny.Count; i++)
            {
                <div class="row">
                    <div class="large-4 columns">
                        <input type="hidden" name="PojistovnySpecialniPlodiny.Index" value="@i" />
                        @Html.LabelWithAsterixFor(m => m.PojistovnySpecialniPlodiny[i].CisloZmluvy)
                        @Html.EditorFor(m => m.PojistovnySpecialniPlodiny[i].CisloZmluvy)
                        @Html.ValidationMessageFor(m => m.PojistovnySpecialniPlodiny[i].CisloZmluvy)
                    </div>
                    <div class="large-3 columns">
                        @Html.LabelWithAsterixFor(m => m.PojistovnySpecialniPlodiny[i].Nazev)
                        @Html.EditorFor(m => m.PojistovnySpecialniPlodiny[i].Nazev)
                        @Html.ValidationMessageFor(m => m.PojistovnySpecialniPlodiny[i].Nazev)
                    </div>

                    <div class="large-3 columns">
                        @Html.LabelWithAsterixFor(m => m.PojistovnySpecialniPlodiny[i].Castka)
                        @Html.EditorFor(m => m.PojistovnySpecialniPlodiny[i].Castka)
                        @Html.ValidationMessageFor(m => m.PojistovnySpecialniPlodiny[i].Castka)
                    </div>
                    <div class="large-2 columns"><label>&nbsp;</label><span onclick="removeRow(this); return false;" class="button small">Vymazat</span></div>
                </div>
            }
        </div>
        <div class="row">
            <div class="large-10 columns">&nbsp;</div>
            <div class="large-2 columns"><label>&nbsp;</label><span onclick="addRow(this); return false;" class="button small">Přidat</span></div>
        </div>
    </fieldset>
    <fieldset id="poistOst" @if (!Model.PojisteniPlodinOstatnich) { @Html.Raw("style=\"display:none;\"")  ; }>
        <legend>Pojištění plodin ostatních</legend>
        <br />
        @{
            if (!Model.PojistovnyOstatniPlodiny.Any())
            {
                Model.PojistovnyOstatniPlodiny.Add(new Pojistovna());
            }
        }
        <div class="data">
            @for (int i = 0; i < Model.PojistovnyOstatniPlodiny.Count; i++)
            {
                <div class="row">
                    <div class="large-4 columns">
                        <input type="hidden" name="PojistovnyOstatniPlodiny.Index" value="@i" />
                        @Html.LabelWithAsterixFor(m => m.PojistovnyOstatniPlodiny[i].CisloZmluvy)
                        @Html.EditorFor(m => m.PojistovnyOstatniPlodiny[i].CisloZmluvy)
                        @Html.ValidationMessageFor(m => m.PojistovnyOstatniPlodiny[i].CisloZmluvy)
                    </div>
                    <div class="large-3 columns">
                        @Html.LabelWithAsterixFor(m => m.PojistovnyOstatniPlodiny[i].Nazev)
                        @Html.EditorFor(m => m.PojistovnyOstatniPlodiny[i].Nazev)
                        @Html.ValidationMessageFor(m => m.PojistovnyOstatniPlodiny[i].Nazev)
                    </div>

                    <div class="large-3 columns">
                        @Html.LabelWithAsterixFor(m => m.PojistovnyOstatniPlodiny[i].Castka)
                        @Html.EditorFor(m => m.PojistovnyOstatniPlodiny[i].Castka)
                        @Html.ValidationMessageFor(m => m.PojistovnyOstatniPlodiny[i].Castka)
                    </div>
                    <div class="large-2 columns"><label>&nbsp;</label><span onclick="removeRow(this); return false;" class="button small">Vymazat</span></div>
                </div>
            }
        </div>
        <div class="row">
            <div class="large-10 columns">&nbsp;</div>
            <div class="large-2 columns"><label>&nbsp;</label><span onclick="addRow(this); return false;" class="button small">Přidat</span></div>
        </div>
    </fieldset>
    <fieldset id="poistHosp" @if (!Model.PojisteniHospodarskychZvirat) { @Html.Raw("style=\"display:none;\"")  ; }>
        <legend>Pojištění hospodářských zvířat</legend>
        <br />
        @{
            if (!Model.PojistovnyHospodarskaZvirata.Any())
            {
                Model.PojistovnyHospodarskaZvirata.Add(new Pojistovna());
            }
        }
        <div class="data">
            @for (int i = 0; i < Model.PojistovnyHospodarskaZvirata.Count; i++)
            {
                <div class="row">
                    <div class="large-4 columns">
                        <input type="hidden" name="PojistovnyHospodarskaZvirata.Index" value="@i" />
                        @Html.LabelWithAsterixFor(m => m.PojistovnyHospodarskaZvirata[i].CisloZmluvy)
                        @Html.EditorFor(m => m.PojistovnyHospodarskaZvirata[i].CisloZmluvy)
                        @Html.ValidationMessageFor(m => m.PojistovnyHospodarskaZvirata[i].CisloZmluvy)
                    </div>
                    <div class="large-3 columns">
                        @Html.LabelWithAsterixFor(m => m.PojistovnyHospodarskaZvirata[i].Nazev)
                        @Html.EditorFor(m => m.PojistovnyHospodarskaZvirata[i].Nazev)
                        @Html.ValidationMessageFor(m => m.PojistovnyHospodarskaZvirata[i].Nazev)
                    </div>

                    <div class="large-3 columns">
                        @Html.LabelWithAsterixFor(m => m.PojistovnyHospodarskaZvirata[i].Castka)
                        @Html.EditorFor(m => m.PojistovnyHospodarskaZvirata[i].Castka)
                        @Html.ValidationMessageFor(m => m.PojistovnyHospodarskaZvirata[i].Castka)
                    </div>
                    <div class="large-2 columns"><label>&nbsp;</label><span onclick="removeRow(this); return false;" class="button small">Vymazat</span></div>
                </div>
            }
        </div>
        <div class="row">
            <div class="large-10 columns">&nbsp;</div>
            <div class="large-2 columns"><label>&nbsp;</label><span onclick="addRow(this); return false;" class="button small">Přidat</span></div>
        </div>
    </fieldset>
</fieldset>
<fieldset>
    <legend>Souhlas se zpracováním osobních údajů</legend>
    <div class="row">
        <div class="large-10 columns"><b>I. Žadatel o poskytnutí podpory, jakožto fyzická osoba </b>(dále jen jako <b><i>„žadatel-fyzická osoba“</i></b>),</div>
    </div>
    <div class="row">
        <div class="large-10 columns">
            tímto dává společnosti Podpůrný a garanční rolnický a lesnický fond, a.s., IČ: 492 41 494, se sídlem Praha 8 – Karlín, Za Poříčskou branou 6/č.p. 256, PSČ 186 00 (dále jen jako „Správce“), v souladu se zákonem č. 101/2000 Sb., o ochraně osobních údajů a o změně některých zákonů, ve znění pozdějších předpisů (dále jen jako „ZOOÚ“), souhlas k tomu, aby Správce zpracovával ve své databázi veškeré jeho osobní údaje, které mu v budoucnu poskytne, a které byly uvedeny v žádosti o poskytnutí podpory, jejíž přílohu tvoří tento souhlas. Jedná se zejména o následující osobní údaje: jméno, příjmení, adresa trvalého pobytu, adresa místa podnikání, datum narození, rodné číslo, telefonní číslo, faxové číslo, e-mailová adresa. Tyto všechny osobní údaje budou Správcem zpracovávány automatizovaně i manuálně prostřednictvím pracovníků Správce.
            Všechny osobní údaje, které Správci žadatel-fyzická osoba poskytla nebo i v budoucnu poskytne, budou Správcem zpracovávány k následujícím účelům:
        </div>
    </div>
    <div class="row">
        <div class="large-10 columns">
            <ul class="pouceni">
                <li>- v rámci tohoto souhlasu o zpracování údajů poskytnutého Správci;</li>
                <li>- jednání o smluvním vztahu.</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="large-10 columns">Žadatel-fyzická osoba souhlasí s tím, že od účinnosti příslušné registrace u Úřadu pro ochranu osobních údajů je Správce oprávněn údaje dle tohoto souhlasu převést na jiného správce či zpracovatele údajů a je oprávněn poskytnuté údaje předat Ministerstvu zemědělství České republiky, za účelem jejich zveřejnění ve společném zemědělském registru.</div>
    </div>

    <div class="row">
        <div class="large-10 columns">Žadatel-fyzická osoba výslovně souhlasí, že Správce je oprávněn veškeré údaje, které mu poskytne, interně zpracovávat pro účely vyhodnocení plnění jeho závazků vůči Správci. Podpisem tohoto souhlasu uděluje Správci také souhlas s tím, aby Správce na svých internetových stránkách zveřejnil jeho osobní údaje (vyjma RČ), které byly uvedeny v žádosti o poskytnutí podpory, jejíž přílohu tvoří tento souhlas. Na internetových stránkách Správce budou údaje všem volně přístupné.</div>
    </div>
    <div class="row">
        <div class="large-10 columns">Výslovný souhlas uděluje žadatel-fyzická osoba také k tomu, aby Správce na svých internetových stránkách zveřejnil jeho osobní údaje v rozsahu dle tohoto souhlasu. Jedná se zejména o následující údaje: jméno, příjmení, adresa trvalého pobytu, adresa místa podnikání, datum narození, jakož i údaje uvedené v žádosti o poskytnutí podpory, nebo které budou žadatelem-fyzickou osobou v budoucnu poskytnuty.</div>
    </div>
    <div class="row">
        <div class="large-10 columns">Žadatel-fyzická osoba dále také výslovně souhlasí, aby Správce na svých internetových stránkách zveřejnil a volně zpřístupnil anebo aby poskytl Ministerstvu zemědělství České republiky za účelem zveřejnění údaje o: - výši poskytnuté podpory; a - výši dlužné částky, kterou eviduje Správce vůči žadateli-fyzické osobě.</div>
    </div>
    <div class="row">
        <div class="large-10 columns">Žadatel-fyzická osoba výslovně prohlašuje, že dané informace nepovažuje za své obchodní tajemství a jako takové je nechrání a ani chránit nebude.</div>
    </div>
    <div class="row">
        <div class="large-10 columns">Žadatel-fyzická osoba souhlasí, aby Správce zpracovával jeho osobní údaje za účelem a v rozsahu dle tohoto souhlasu do uplynutí 20 let od ukončení jakéhokoli časově posledního smluvního nebo jiného právního vztahu se Správcem.</div>
    </div>
    <div class="row">
        <div class="large-10 columns">Žadatel-fyzická osoba potvrzuje, že veškeré osobní údaje, které Správci poskytl nebo i budoucnu poskytne, budou zcela pravdivé a zavazuje se, že pokud dojde k jakékoliv změně v poskytnutých údajích, oznámí tuto skutečnost Správci nejpozději do 15 dnů od doby, kdy změna nastala. Pokud tuto svou povinnost nesplní, bere na vědomí, že nese odpovědnost za škodu, která Správci může vzniknout porušením jeho povinnosti. Žadatel-fyzická osoba bere na vědomí, že má právo na opravu Správci poskytnutých osobních údajů.</div>
    </div>

    <div class="row">
        <div class="large-10 columns">Žadatel-fyzická osoba bere na vědomí, že Správce je povinen údaje zveřejněné na svých internetových stránkách v souladu s tímto souhlasem aktualizovat vždy nejpozději do 30 dnů od okamžiku, kdy mu byla prokázána změna zveřejněných údajů.</div>
    </div>
    <div class="row">
        <div class="large-10 columns"><b>Poučení podle zákona č. 101/2000 Sb., o ochraně osobních údajů a o změně některých zákonů, ve znění pozdějších předpisů</b></div>
    </div>
    <div class="row">
        <div class="large-10 columns">Správce Vás tímto v souladu se ZOOÚ informuje, že osobní údaje budou zpracovávány v rozsahu, ve kterém jste je uvedl v žádosti o poskytnutí podpory či které Správci v budoucnu sdělíte v souvislosti s jednáním o smluvním vztahu a dále také v rozsahu tohoto souhlasu se zpracováním údajů. Osobní údaje budou zveřejňovány na internetových stránkách Správce a mohou být zpřístupněny fyzickým i právnickým osobám v České republice i v zahraničí. Správce Vás také upozorňuje, že poskytnutí osobních údajů je zcela dobrovolné.</div>
    </div>
    <div class="row">
        <div class="large-10 columns">Správce Vás dále informuje, že máte právo za podmínek stanovených v ustanovení § 12 ZOOÚ požádat Správce o informaci o zpracování Vašich osobních údajů, a že máte další práva stanovená v ustanovení § 21 ZOOÚ. Pokud zjistíte nebo se budete domnívat, že Správce provádí zpracování osobních údajů, které je v rozporu se zákonem, zejména jsou-li osobní údaje nepřesné s ohledem na účel jejich zpracování, můžete požádat Správce o vysvětlení, nebo můžete požadovat, aby Správce odstranil takto vzniklý stav. Zejména se můžete domáhat blokování, provedení opravy, doplnění nebo likvidace osobních údajů. V případě, že Správce poruší své zákonem stanovené povinnosti, máte právo se obrátit také na Úřad pro ochranu osobních údajů. Správce je povinen Vás také bez zbytečného odkladu informovat o blokování, opravě, doplnění nebo likvidaci osobních údajů. Žadatel-fyzická osoba je oprávněn kdykoliv souhlas se zpracováváním osobních údajů odvolat.</div>
    </div>

    <div class="row">
        <div class="large-10 columns"><b>II. Je-li žadatelem o poskytnutí podpory právnická osoba, která je zemědělským podnikatelem ve smyslu § 2 odst. 2 zákona č. 513/1991 Sb., obchodní zákoník, ve znění pozdějších předpisů, a/nebo § 2e zákona č. 252/1997 Sb., o zemědělství, ve znění pozdějších předpisů </b>(dále jen jako <b><i>„žadatel-právnická osoba“</i></b>), dává tímto Správci výslovný souhlas se zpracováním a zveřejňováním všech údajů, které Správci za účelem jednání o smluvním vztahu a v rámci tohoto souhlasu o zpracování údajů poskytne.</div>
    </div>
    <div class="row">
        <div class="large-10 columns">Žadatel-právnická osoba dále také výslovně souhlasí, aby Správce na svých internetových stránkách zveřejnil a volně zpřístupnil anebo aby poskytl Ministerstvu zemědělství České republiky za účelem zveřejnění údaje o: - výši poskytnuté podpory; a - výši dlužné částky, kterou eviduje Správce vůči žadateli-právnické osobě.</div>
    </div>
    <div class="row">
        <div class="large-10 columns">Žadatel-právnická osoba výslovně prohlašuje, že dané informace nepovažuje za své obchodní tajemství a jako takové je nechrání a ani chránit nebude.</div>
    </div>
    <div class="row">
        <div class="large-10 columns">Žadatel-právnická osoba bere na vědomí, že Správce je povinen údaje zveřejněné na svých internetových stránkách v souladu s tímto souhlasem aktualizovat vždy nejpozději do 30 dnů od okamžiku, kdy mu byla prokázána změna zveřejněných údajů.</div>
    </div>
    <div class="row">
        <div class="large-10 columns">Žadatel-právnická osoba bere na vědomí, že tento souhlas se zveřejněním údajů nemůže vzít jednostranně zpět a souhlasí, aby Správce zpracovával všechny údaje do uplynutí 20 let od ukončení jakéhokoli časově posledního smluvního nebo jiného právního vztahu se Správcem.</div>
    </div>
    <div class="row">
        <div class="large-6 columns">
            &nbsp;
        </div>

        <div class="large-2 columns">
            @Html.EditorFor(m => m.Souhlas)<br /><br />@Html.ValidationMessageFor(m => m.Souhlas)
        </div>
        <div class="large-4 columns" style="text-align:right;">
            (Potvrzuji, že souhlasím *)
        </div>
    </div>

</fieldset>


@section scripts{
    <script type="text/javascript">


        function addRow(t) {
            var html = $(t).closest('fieldset').children('.data').children()[0].outerHTML;
            var randomnumber = Math.floor(Math.random() * 1000) + 1000;
            /*id replace*/
            html = html.replace(/0/g, randomnumber);
            html = getUnselectedHtmlHack(html);

            console.log(html);
            $(t).closest('fieldset').children('.data').append(html);
        }

        function removeRow(t) {
            if ($(t).parent().parent().parent().children().length <= 1) {
                addRow(t);
            }
            $(t).parent().parent().remove();
        }

        function getUnselectedHtmlHack(html) {
            html = html.replace("class=\"selected\"", "");
            var startIndex = html.indexOf("class=\"current\"") + 16;
            var endIndex = html.indexOf("<", startIndex);
            html1 = html.substr(0, startIndex);
            html2 = html.substr(endIndex, html.length - 1);
            return html1 + html2;
        }

        $('input[name="UkonceniCinnosti"]').change(function (e) {
            var rbVal = $(this).val();
            if (rbVal == "False") {
                $('#DatumUkonceniCell').hide();
            }
            if (rbVal == "True") {
                $('#DatumUkonceniCell').show();
            }
        });

        $('input[name="ProdejPodniku"]').change(function (e) {
            var rbVal = $(this).val();
            if (rbVal == "False") {
                $('#DatumProdejeCell').hide();
            }
            if (rbVal == "True") {
                $('#DatumProdejeCell').show();
            }
        });

        function switchFP(pravnicka) {
            if (pravnicka == true) {
                $("#fsFyzickaOsoba").hide(100);
                $("#fsPravnickaOsoba").show(100);
            } else {
                $("#fsFyzickaOsoba").show(100);
                $("#fsPravnickaOsoba").hide(100);
            }
        }

        function switchElement(element, value) {
            if (value == false) {
                $(element).hide(100);
            } else {
                $(element).show(100);
            }
        }

        function nastavFunkceProTypSpolecnosti(typspolecnosti, fieldName) {
            if (typspolecnosti == "Akciová společnost") {
                $('#' + fieldName + ' option[value="Místopředseda představenstva"]').removeAttr("DISABLED");
                $('#' + fieldName + ' option[value="Předseda představenstva"]').removeAttr("DISABLED");
                $('#' + fieldName + ' option[value="Člen představenstva"]').removeAttr("DISABLED");
                $('#' + fieldName + ' option[value="Jednatel"]').attr("DISABLED", "");
                $('#' + fieldName + ' option[value="Komplementář"]').attr("DISABLED", "");
                $('#' + fieldName + ' option[value="Společník"]').attr("DISABLED", "");
                $(document).foundation();
            }
            if (typspolecnosti == "Společnost s ručením omezeným") {
                $('#' + fieldName + ' option[value="Místopředseda představenstva"]').attr("DISABLED", "");
                $('#' + fieldName + ' option[value="Předseda představenstva"]').attr("DISABLED", "");
                $('#' + fieldName + ' option[value="Člen představenstva"]').attr("DISABLED", "");
                $('#' + fieldName + ' option[value="Jednatel"]').removeAttr("DISABLED");
                $('#' + fieldName + ' option[value="Komplementář"]').attr("DISABLED", "");
                $('#' + fieldName + ' option[value="Společník"]').attr("DISABLED", "");
                $(document).foundation();
            }
            if (typspolecnosti == "Komanditní společnost") {
                $('#' + fieldName + ' option[value="Místopředseda představenstva"]').attr("DISABLED", "");
                $('#' + fieldName + ' option[value="Předseda představenstva"]').attr("DISABLED", "");
                $('#' + fieldName + ' option[value="Člen představenstva"]').attr("DISABLED", "");
                $('#' + fieldName + ' option[value="Jednatel"]').attr("DISABLED", "");
                $('#' + fieldName + ' option[value="Komplementář"]').removeAttr("DISABLED");
                $('#' + fieldName + ' option[value="Společník"]').attr("DISABLED", "");
                $(document).foundation();
            }
            if (typspolecnosti == "Veřejná obchodní společnost") {
                $('#' + fieldName + ' option[value="Místopředseda představenstva"]').attr("DISABLED", "");
                $('#' + fieldName + ' option[value="Předseda představenstva"]').attr("DISABLED", "");
                $('#' + fieldName + ' option[value="Člen představenstva"]').attr("DISABLED", "");
                $('#' + fieldName + ' option[value="Jednatel"]').attr("DISABLED", "");
                $('#' + fieldName + ' option[value="Komplementář"]').attr("DISABLED", "");
                $('#' + fieldName + ' option[value="Společník"]').removeAttr("DISABLED");
                $(document).foundation();
            }
            if (typspolecnosti == "Družstvo") {
                $('#' + fieldName + ' option[value="Místopředseda představenstva"]').removeAttr("DISABLED");
                $('#' + fieldName + ' option[value="Předseda představenstva"]').removeAttr("DISABLED");
                $('#' + fieldName + ' option[value="Člen představenstva"]').removeAttr("DISABLED");
                $('#' + fieldName + ' option[value="Jednatel"]').attr("DISABLED", "");
                $('#' + fieldName + ' option[value="Komplementář"]').attr("DISABLED", "");
                $('#' + fieldName + ' option[value="Společník"]').attr("DISABLED", "");
                $(document).foundation();
            }
        }

        $(document).ready(function () {
            $('#rbMistoFoOff').change(function () {
                switchElement('#misto_fo', true);
            });
            $('#rbMistoFoOn').change(function () {
                switchElement('#misto_fo', false);
            });
            $('#rbMistoPoOff').change(function () {
                switchElement('#misto_po', true);
            });
            $('#rbMistoPoOn').change(function () {
                switchElement('#misto_po', false);
            });
            $('#rbSpecOff').change(function () {
                switchElement('#poistSpec', false);
            });
            $('#rbSpecOn').change(function () {
                switchElement('#poistSpec', true);
            });
            $('#rbOstOff').change(function () {
                switchElement('#poistOst', false);
            });
            $('#rbOstOn').change(function () {
                switchElement('#poistOst', true);
            });
            $('#rbHospOff').change(function () {
                switchElement('#poistHosp', false);
            });
            $('#rbHospOn').change(function () {
                switchElement('#poistHosp', true);
            });

            $('#rbFO').change(function () {
                switchFP(false);
            });
            $('#rbPO').change(function () {
                switchFP(true);
            });

            $('#POTypPO').change(function () {
                nastavFunkceProTypSpolecnosti($('#POTypPO').val(), "ZO1Funkce");
                nastavFunkceProTypSpolecnosti($('#POTypPO').val(), "ZO2Funkce");
                nastavFunkceProTypSpolecnosti($('#POTypPO').val(), "ZO3Funkce");
            });
            nastavFunkceProTypSpolecnosti($('#POTypPO').val(), "ZO1Funkce");
            nastavFunkceProTypSpolecnosti($('#POTypPO').val(), "ZO2Funkce");
            nastavFunkceProTypSpolecnosti($('#POTypPO').val(), "ZO3Funkce");
        });

    </script>
}