@using PGRLF.MainWeb.Forms.FormClasses
@using PGRLF.MainWeb.Forms.FormClasses.Templates
@model PGRLF.MainWeb.Forms.FormClasses.UveryPuda_ViewModel

@{
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<strong style="padding-left:5em;">Program Úvěry na nákup půdy</strong>

<!--Header-->

<fieldset>
    <legend>Žádost o podporu:</legend>
    <div class="row">
        <div class="large-3 columns" style="text-align:left;">
            <label><span><br />1) Úročeného úvěru</span></label>
        </div>
        <div class="large-2 columns">
            <div class="switch">
                @Html.RadioButtonFor(m => m.IsUver, false, new { @checked = "checked", @id = "rbUverOff" })
                <label>NE</label>
                @Html.RadioButtonFor(m => m.IsUver, true, new { @id = "rbUverOn" })
                <label>ANO</label>

                <span></span>
            </div>
        </div>
        <div class="large-8 columns">
            &nbsp;
        </div>
    </div>
    
    <div class="row">
        <div class="large-3 columns" style="text-align:left;">
            <label><span><br />2) snížení jistiny úvěru</span></label>
        </div>
        <div class="large-2 columns">
            <div class="switch">
                @Html.RadioButtonFor(m => m.IsSnizeni, false, new { @checked = "checked", @id = "rbSnizeniOff" })
                <label>NE</label>
                @Html.RadioButtonFor(m => m.IsSnizeni, true, new { @id = "rbSnizeniOn" })
                <label>ANO</label>

                <span></span>
            </div>
        </div>
        <div class="large-8 columns">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="large-4 columns">@Html.LabelWithAsterixFor(m => m.VyseUveru)@Html.EditorFor(m => m.VyseUveru)@Html.ValidationMessageFor(m => m.VyseUveru)</div>
    </div>
    <div class="row">
        <div class="large-4 columns">@Html.LabelWithAsterixFor(m => m.Splatnost)@Html.EditorFor(m => m.Splatnost)@Html.ValidationMessageFor(m => m.Splatnost)</div>
    </div>

</fieldset>

<!-- Default switch -->

<div class="row">
    <div class="large-4 columns" style="text-align:right;">
        <label><span><br />Zvolit Fyzickou / Právnickou osobu</span></label>
    </div>
    <div class="large-4 columns">
        <div class="switch">
            @Html.RadioButtonFor(m => m.IsPravnickaOsoba, false, new { @checked = "checked", @id = "rbFO" })
            <label>Fyzická osoba</label>
            @Html.RadioButtonFor(m => m.IsPravnickaOsoba, true, new { @id = "rbPO" })
            <label>Právnická osoba</label>

            <span></span>
        </div>
    </div>
</div>

<!--Fyzická osoba-->

<fieldset id="fsFyzickaOsoba" @if (Model.IsPravnickaOsoba) { @Html.Raw("style=\"display:none;\"")  ; }>
    <legend>Fyzická osoba</legend>
    <div class="row">
        <div class="large-6 columns">@Html.LabelWithAsterixFor(m => m.FORodneCislo)@Html.EditorFor(m => m.FORodneCislo)@Html.ValidationMessageFor(m => m.FORodneCislo)</div>
        <div class="large-6 columns">@Html.LabelWithAsterixFor(m => m.FODatumNarozeni)@Html.EditorFor(m => m.FODatumNarozeni) @Html.ValidationMessageFor(m => m.FODatumNarozeni)</div>
    </div>
    <div class="row">
        <div class="large-6 columns">@Html.LabelWithAsterixFor(m => m.FOIC)@Html.EditorFor(m => m.FOIC) @Html.ValidationMessageFor(m => m.FOIC)</div>
        <div class="large-6 columns">@Html.LabelWithAsterixFor(m => m.FODIC)@Html.EditorFor(m => m.FODIC) @Html.ValidationMessageFor(m => m.FODIC)</div>
    </div>

    <div class="row">
        <div class="large-4 columns">@Html.LabelWithAsterixFor(m => m.FOTitulPredMenom)@Html.EditorFor(m => m.FOTitulPredMenom) @Html.ValidationMessageFor(m => m.FOTitulPredMenom)</div>
        <div class="large-8 columns">@Html.LabelWithAsterixFor(m => m.FOJmeno)@Html.EditorFor(m => m.FOJmeno) @Html.ValidationMessageFor(m => m.FOJmeno)</div>
    </div>
    <div class="row">
        <div class="large-8 columns">@Html.LabelWithAsterixFor(m => m.FOPrijmeni)@Html.EditorFor(m => m.FOPrijmeni) @Html.ValidationMessageFor(m => m.FOPrijmeni)</div>
        <div class="large-4 columns">@Html.LabelWithAsterixFor(m => m.FOTitulZaMenom)@Html.EditorFor(m => m.FOTitulZaMenom) @Html.ValidationMessageFor(m => m.FOTitulZaMenom)</div>
        
    </div>
    <h5>Adresa trvalého pobytu</h5>
    <div class="row">
        <div class="large-8 columns">@Html.LabelWithAsterixFor(m => m.TPUlice)@Html.EditorFor(m => m.TPUlice)@Html.ValidationMessageFor(m => m.TPUlice)</div>
        <div class="large-4 columns red">@Html.LabelWithAsterixFor(m => m.TPCisloPopisne)@Html.EditorFor(m => m.TPCisloPopisne)@Html.ValidationMessageFor(m => m.TPCisloPopisne)</div>
    </div>
    <div class="row">
        <div class="large-4 columns">@Html.LabelWithAsterixFor(m => m.TPPSC)@Html.EditorFor(m => m.TPPSC)@Html.ValidationMessageFor(m => m.TPPSC)</div>
        <div class="large-4 columns blue">@Html.LabelWithAsterixFor(m => m.TPCisloOrientacni)@Html.EditorFor(m => m.TPCisloOrientacni)@Html.ValidationMessageFor(m => m.TPCisloOrientacni)</div>
    </div>

    <div class="row">
        <div class="large-12 columns">@Html.LabelWithAsterixFor(m => m.TPObec)@Html.EditorFor(m => m.TPObec)@Html.ValidationMessageFor(m => m.TPObec)</div>
    </div>
    <div class="row">
        <div class="large-12 columns">@Html.LabelWithAsterixFor(m => m.TPKraj)@Html.EditorFor(m => m.TPKraj)@Html.ValidationMessageFor(m => m.TPKraj)</div>
    </div>
    <div class="row">
        <div class="large-4 columns">@Html.LabelWithAsterixFor(m => m.TPTelefon1)@Html.EditorFor(m => m.TPTelefon1)@Html.ValidationMessageFor(m => m.TPTelefon1)</div>
        <div class="large-4 columns">@Html.LabelWithAsterixFor(m => m.TPTelefon2)@Html.EditorFor(m => m.TPTelefon2)@Html.ValidationMessageFor(m => m.TPTelefon2)</div>
        <div class="large-4 columns">@Html.LabelWithAsterixFor(m => m.TPFax)@Html.EditorFor(m => m.TPFax)@Html.ValidationMessageFor(m => m.TPFax)</div>
    </div>

    <div class="row">
        <div class="large-12 columns">@Html.LabelWithAsterixFor(m => m.TPEmail)@Html.EditorFor(m => m.TPEmail)@Html.ValidationMessageFor(m => m.TPEmail)</div>
    </div>

    <h5>Místo podnikání</h5>
    <div class="row">
        <div class="large-8 columns">@Html.LabelWithAsterixFor(m => m.JeMistoPodnikaniStejneFo)</div>
        <div class="large-2 columns" style="text-align:right;"><label><span><br />Zvolit Ano / Ne</span></label></div>
        <div class="large-2 columns">
            <div class="switch">
                @Html.RadioButtonFor(m => m.JeMistoPodnikaniStejneFo, false, new { @checked = "checked", @id = "rbMistoFoOff" })
                <label>Ne</label>
                @Html.RadioButtonFor(m => m.JeMistoPodnikaniStejneFo, true, new { @id = "rbMistoFoOn" })
                <label>Ano</label>

                <span></span>
            </div>
        </div>
    </div>

    <div id="misto_fo" @if (Model.JeMistoPodnikaniStejneFo) { @Html.Raw("style=\"display:none;\"")  ; }>
        <div class="row">
            <div class="large-8 columns">@Html.LabelWithAsterixFor(m => m.MPUlice)@Html.EditorFor(m => m.MPUlice)@Html.ValidationMessageFor(m => m.MPUlice)</div>
            <div class="large-4 columns red">@Html.LabelWithAsterixFor(m => m.MPCisloPopisne)@Html.EditorFor(m => m.MPCisloPopisne)@Html.ValidationMessageFor(m => m.MPCisloPopisne)</div>
        </div>
        <div class="row">
            <div class="large-4 columns">@Html.LabelWithAsterixFor(m => m.MPPSC)@Html.EditorFor(m => m.MPPSC)@Html.ValidationMessageFor(m => m.MPPSC)</div>
            <div class="large-4 columns blue">@Html.LabelWithAsterixFor(m => m.MPCisloOrientacni)@Html.EditorFor(m => m.MPCisloOrientacni)@Html.ValidationMessageFor(m => m.MPCisloOrientacni)</div>
        </div>

        <div class="row">
            <div class="large-12 columns">@Html.LabelWithAsterixFor(m => m.MPObec)@Html.EditorFor(m => m.MPObec)@Html.ValidationMessageFor(m => m.MPObec)</div>
        </div>
        <div class="row">
            <div class="large-12 columns">@Html.LabelWithAsterixFor(m => m.MPKraj)@Html.EditorFor(m => m.MPKraj)@Html.ValidationMessageFor(m => m.MPKraj)</div>
        </div>
    </div>


</fieldset>

<!--Právnická osoba-->

<fieldset @if (!Model.IsPravnickaOsoba) { @Html.Raw("style=\"display:none;\"")  ; } id="fsPravnickaOsoba">
    <legend>Právnická osoba</legend>
    <div class="row">
        <div class="large-8 columns">@Html.LabelWithAsterixFor(m => m.POObchodneJmeno)@Html.EditorFor(m => m.POObchodneJmeno)@Html.ValidationMessageFor(m => m.POObchodneJmeno)</div>
        <div class="large-4 columns">@Html.LabelWithAsterixFor(m => m.POTypPO)@Html.EditorFor(m => m.POTypPO)@Html.ValidationMessageFor(m => m.POTypPO)</div>
    </div>
    <div class="row">
        <div class="large-6 columns">@Html.LabelWithAsterixFor(m => m.POIC)@Html.EditorFor(m => m.POIC)@Html.ValidationMessageFor(m => m.POIC)</div>
        <div class="large-6 columns">@Html.LabelWithAsterixFor(m => m.PODIC)@Html.EditorFor(m => m.PODIC)@Html.ValidationMessageFor(m => m.PODIC)</div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            <label><b>Jméno a funkce odpovědného zástupce(ců), oprávněného jednat a podepisovat za právnickou osobu (dle výpisu z obchodního rejstříku):</b></label>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">&nbsp;</div>
    </div>
    <div class="row">
        <div class="large-2 columns">@Html.LabelWithAsterixFor(m => m.ZO1TitulPredJmenem)@Html.EditorFor(m => m.ZO1TitulPredJmenem)@Html.ValidationMessageFor(m => m.ZO1TitulPredJmenem)</div>
        <div class="large-3 columns">@Html.LabelWithAsterixFor(m => m.ZO1Jmeno)@Html.EditorFor(m => m.ZO1Jmeno)@Html.ValidationMessageFor(m => m.ZO1Jmeno)</div>
        <div class="large-3 columns">@Html.LabelWithAsterixFor(m => m.ZO1Prijmeni)@Html.EditorFor(m => m.ZO1Prijmeni)@Html.ValidationMessageFor(m => m.ZO1Prijmeni)</div>
        <div class="large-2 columns">@Html.LabelWithAsterixFor(m => m.ZO1TitulZaJmenem)@Html.EditorFor(m => m.ZO1TitulZaJmenem)@Html.ValidationMessageFor(m => m.ZO1TitulZaJmenem)</div>
        <div class="large-2 columns">@Html.LabelWithAsterixFor(m => m.ZO1Funkce)@Html.EditorFor(m => m.ZO1Funkce)@Html.ValidationMessageFor(m => m.ZO1Funkce)</div>
    </div>

    <div class="row">
        <div class="large-2 columns">@Html.LabelWithAsterixFor(m => m.ZO2TitulPredJmenem)@Html.EditorFor(m => m.ZO2TitulPredJmenem)@Html.ValidationMessageFor(m => m.ZO2TitulPredJmenem)</div>
        <div class="large-3 columns">@Html.LabelWithAsterixFor(m => m.ZO2Jmeno)@Html.EditorFor(m => m.ZO2Jmeno)@Html.ValidationMessageFor(m => m.ZO2Jmeno)</div>
        <div class="large-3 columns">@Html.LabelWithAsterixFor(m => m.ZO2Prijmeni)@Html.EditorFor(m => m.ZO2Prijmeni)@Html.ValidationMessageFor(m => m.ZO2Prijmeni)</div>
        <div class="large-2 columns">@Html.LabelWithAsterixFor(m => m.ZO2TitulZaJmenem)@Html.EditorFor(m => m.ZO2TitulZaJmenem)@Html.ValidationMessageFor(m => m.ZO2TitulZaJmenem)</div>
        <div class="large-2 columns">@Html.LabelWithAsterixFor(m => m.ZO2Funkce)@Html.EditorFor(m => m.ZO2Funkce)@Html.ValidationMessageFor(m => m.ZO2Funkce)</div>
    </div>

    <div class="row">
        <div class="large-2 columns">@Html.LabelWithAsterixFor(m => m.ZO3TitulPredJmenem)@Html.EditorFor(m => m.ZO3TitulPredJmenem)@Html.ValidationMessageFor(m => m.ZO3TitulPredJmenem)</div>
        <div class="large-3 columns">@Html.LabelWithAsterixFor(m => m.ZO3Jmeno)@Html.EditorFor(m => m.ZO3Jmeno)@Html.ValidationMessageFor(m => m.ZO3Jmeno)</div>
        <div class="large-3 columns">@Html.LabelWithAsterixFor(m => m.ZO3Prijmeni)@Html.EditorFor(m => m.ZO3Prijmeni)@Html.ValidationMessageFor(m => m.ZO3Prijmeni)</div>
        <div class="large-2 columns">@Html.LabelWithAsterixFor(m => m.ZO3TitulZaJmenem)@Html.EditorFor(m => m.ZO3TitulZaJmenem)@Html.ValidationMessageFor(m => m.ZO3TitulZaJmenem)</div>
        <div class="large-2 columns">@Html.LabelWithAsterixFor(m => m.ZO3Funkce)@Html.EditorFor(m => m.ZO3Funkce)@Html.ValidationMessageFor(m => m.ZO3Funkce)</div>
    </div>
    <h5>Sídlo společnosti</h5>
    <div class="row">
        <div class="large-8 columns">@Html.LabelWithAsterixFor(m => m.SSUlice)@Html.EditorFor(m => m.SSUlice)@Html.ValidationMessageFor(m => m.SSUlice)</div>
        <div class="large-4 columns red">@Html.LabelWithAsterixFor(m => m.SSCisloPopisne)@Html.EditorFor(m => m.SSCisloPopisne)@Html.ValidationMessageFor(m => m.SSCisloPopisne)</div>
    </div>
    <div class="row">
        <div class="large-4 columns">@Html.LabelWithAsterixFor(m => m.SSPSC)@Html.EditorFor(m => m.SSPSC)@Html.ValidationMessageFor(m => m.SSPSC)</div>
        <div class="large-4 columns blue">@Html.LabelWithAsterixFor(m => m.SSCisloOrientacni)@Html.EditorFor(m => m.SSCisloOrientacni)@Html.ValidationMessageFor(m => m.SSCisloOrientacni)</div>
    </div>

    <div class="row">
        <div class="large-12 columns">@Html.LabelWithAsterixFor(m => m.SSObec)@Html.EditorFor(m => m.SSObec)@Html.ValidationMessageFor(m => m.SSObec)</div>
    </div>
    <div class="row">
        <div class="large-12 columns">@Html.LabelWithAsterixFor(m => m.SSKraj)@Html.EditorFor(m => m.SSKraj)@Html.ValidationMessageFor(m => m.SSKraj)</div>
    </div>
    <div class="row">
        <div class="large-4 columns">@Html.LabelWithAsterixFor(m => m.SSTelefon1)@Html.EditorFor(m => m.SSTelefon1)@Html.ValidationMessageFor(m => m.SSTelefon1)</div>
        <div class="large-4 columns">@Html.LabelWithAsterixFor(m => m.SSTelefon2)@Html.EditorFor(m => m.SSTelefon2)@Html.ValidationMessageFor(m => m.SSTelefon2)</div>
        <div class="large-4 columns">@Html.LabelWithAsterixFor(m => m.SSFax)@Html.EditorFor(m => m.SSFax)@Html.ValidationMessageFor(m => m.SSFax)</div>
    </div>

    <div class="row">
        <div class="large-12 columns">@Html.LabelWithAsterixFor(m => m.SSEmail)@Html.EditorFor(m => m.SSEmail)@Html.ValidationMessageFor(m => m.SSEmail)</div>
    </div>

    <div class="row">
        <div class="large-4 columns">@Html.LabelWithAsterixFor(m => m.POPocetSpolecniku)@Html.EditorFor(m => m.POPocetSpolecniku)@Html.ValidationMessageFor(m => m.POPocetSpolecniku)</div>
    </div>

    <div class="row">
        <div class="large-4 columns">@Html.LabelWithAsterixFor(m => m.POZakladniKapital)@Html.EditorFor(m => m.POZakladniKapital)@Html.ValidationMessageFor(m => m.POZakladniKapital)</div>
    </div>

    <h5>Místo podnikání</h5>
    <div class="row">
        <div class="large-8 columns">@Html.LabelWithAsterixFor(m => m.JeMistoPodnikaniStejnePo)</div>
        <div class="large-2 columns" style="text-align:right;"><label><span><br />Zvolit Ano / Ne</span></label></div>
        <div class="large-2 columns">
            <div class="switch">
                @Html.RadioButtonFor(m => m.JeMistoPodnikaniStejnePo, false, new { @checked = "checked", @id = "rbMistoPoOff" })
                <label>Ne</label>
                @Html.RadioButtonFor(m => m.JeMistoPodnikaniStejnePo, true, new { @id = "rbMistoPoOn" })
                <label>Ano</label>

                <span></span>
            </div>
        </div>
    </div>

    <div id="misto_po" @if (Model.JeMistoPodnikaniStejnePo) { @Html.Raw("style=\"display:none;\"")  ; }>
        <div class="row">
            <div class="large-8 columns">@Html.LabelWithAsterixFor(m => m.POMPUlice)@Html.EditorFor(m => m.POMPUlice)@Html.ValidationMessageFor(m => m.POMPUlice)</div>
            <div class="large-4 columns red">@Html.LabelWithAsterixFor(m => m.POMPCisloPopisne)@Html.EditorFor(m => m.POMPCisloPopisne)@Html.ValidationMessageFor(m => m.POMPCisloPopisne)</div>
        </div>
        <div class="row">
            <div class="large-4 columns">@Html.LabelWithAsterixFor(m => m.POMPPSC)@Html.EditorFor(m => m.POMPPSC)@Html.ValidationMessageFor(m => m.POMPPSC)</div>
            <div class="large-4 columns blue">@Html.LabelWithAsterixFor(m => m.POMPCisloOrientacni)@Html.EditorFor(m => m.POMPCisloOrientacni)@Html.ValidationMessageFor(m => m.POMPCisloOrientacni)</div>
        </div>

        <div class="row">
            <div class="large-12 columns">@Html.LabelWithAsterixFor(m => m.POMPObec)@Html.EditorFor(m => m.POMPObec)@Html.ValidationMessageFor(m => m.POMPObec)</div>
        </div>
        <div class="row">
            <div class="large-12 columns">@Html.LabelWithAsterixFor(m => m.POMPKraj)@Html.EditorFor(m => m.POMPKraj)@Html.ValidationMessageFor(m => m.POMPKraj)</div>
        </div>
    </div>
</fieldset>

<!--Spoločné-->

<fieldset>
    <legend>Společná část pro fyzické a právnické osoby</legend>

    <div class="row">
        <div class="large-5 columns">@Html.LabelWithAsterixFor(m => m.PlatceDph)</div>
        <div class="large-3 columns">&nbsp;</div>
        <div class="large-2 columns" style="text-align:right;"><label><span><br />Zvolit Ano / Ne</span></label></div>
        <div class="large-2 columns">
            <div class="switch">
                @Html.RadioButtonFor(m => m.PlatceDph, false, new { @checked = "checked", @id = "rbPlatceDphOff" })
                <label>Ne</label>
                @Html.RadioButtonFor(m => m.PlatceDph, true, new { @id = "rbPlatceDphOn" })
                <label>Ano</label>

                <span></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">@Html.LabelWithAsterixFor(m => m.ZapisDoOR)@Html.EditorFor(m => m.ZapisDoOR)@Html.ValidationMessageFor(m => m.ZapisDoOR)</div>
    </div>
    <div class="row">
        <div class="large-12 columns">@Html.LabelWithAsterixFor(m => m.VydalOR)@Html.EditorFor(m => m.VydalOR)@Html.ValidationMessageFor(m => m.VydalOR)</div>
    </div>
    <div class="row">
        <div class="large-8 columns">&nbsp;</div>
        <div class="large-4 columns">@Html.LabelWithAsterixFor(m => m.DatumOR)@Html.EditorFor(m => m.DatumOR)@Html.ValidationMessageFor(m => m.DatumOR)</div>
    </div>


    <div class="row">
        <div class="large-12 columns">@Html.LabelWithAsterixFor(m => m.EvidenceDoObchodnihoRejstriku)@Html.EditorFor(m => m.EvidenceDoObchodnihoRejstriku)@Html.ValidationMessageFor(m => m.EvidenceDoObchodnihoRejstriku)</div>
    </div>
    <div class="row">
        <div class="large-8 columns">&nbsp;</div>
        <div class="large-4 columns">@Html.LabelWithAsterixFor(m => m.DatumVydaniOsvedceni)@Html.EditorFor(m => m.DatumVydaniOsvedceni)@Html.ValidationMessageFor(m => m.DatumVydaniOsvedceni)</div>
    </div>

    <div class="row">
        <div class="large-4 columns">
            @Html.LabelWithAsterixFor(m => m.UkonceniCinnosti)<div class="switch">
            @Html.RadioButtonFor(m => m.UkonceniCinnosti, false, new { @checked = "checked" })
            <label>Ne</label>
            @Html.RadioButtonFor(m => m.UkonceniCinnosti, true)
            <label>Ano</label>

            <span></span>
        </div>
    </div>
    <div class="large-2 columns"><label><span><br /><br />Zvolit Ano / Ne</span></label></div>
    <div class="large-4 columns" id="DatumUkonceniCell" style="display: none;">@Html.LabelWithAsterixFor(m => m.DatumUkonceni)@Html.EditorFor(m => m.DatumUkonceni)@Html.ValidationMessageFor(m => m.DatumUkonceni)</div>
</div>


<div class="row">
    <div class="large-4 columns">
        @Html.LabelWithAsterixFor(m => m.ProdejPodniku)
    <div class="switch">
        @Html.RadioButtonFor(m => m.ProdejPodniku, false, new { @checked = "checked" })
        <label>Ne</label>
        @Html.RadioButtonFor(m => m.ProdejPodniku, true)
        <label>Ano</label>

        <span></span>
    </div>
</div>
<div class="large-2 columns"><label><span><br /><br />Zvolit Ano / Ne</span></label></div>
<div class="large-4 columns" id="DatumProdejeCell" style="display: none;">@Html.LabelWithAsterixFor(m => m.DatumProdeje)@Html.EditorFor(m => m.DatumProdeje)@Html.ValidationMessageFor(m => m.DatumProdeje)</div>
</div>

<div class="row">
    <div class="large-6 columns">@Html.LabelWithAsterixFor(m => m.CisloUctu)@Html.EditorFor(m => m.CisloUctu)@Html.ValidationMessageFor(m => m.CisloUctu)</div>
    <div class="large-6 columns">@Html.LabelWithAsterixFor(m => m.KodBanky)@Html.EditorFor(m => m.KodBanky)@Html.ValidationMessageFor(m => m.KodBanky)</div>
</div>
</fieldset>

<!--Specificke pre program-->

<fieldset id="predmetyPodnikani">
    <legend>Předmět podnikání</legend>
    <div class="data">
        @if (!Model.PredmetyPodnikani.Any())
        {
            Model.PredmetyPodnikani.Add(new PredmetPodnikani());
        }
        @for (int i = 0; i < Model.PredmetyPodnikani.Count; i++)
        {
            <div class="row">
                <div class="large-6 columns">
                    <input type="hidden" name="PredmetyPodnikani.Index" value="@i" />
                    @Html.LabelWithAsterixFor(m => m.PredmetyPodnikani[i].Cinnost)
                    @Html.EditorFor(m => m.PredmetyPodnikani[i].Cinnost)
                    @Html.ValidationMessageFor(m => m.PredmetyPodnikani[i].Cinnost)
                </div>
                <div class="large-3 columns">
                    @Html.LabelWithAsterixFor(m => m.PredmetyPodnikani[i].RokZahajeniCinnosti)
                    @Html.EditorFor(m => m.PredmetyPodnikani[i].RokZahajeniCinnosti)
                    @Html.ValidationMessageFor(m => m.PredmetyPodnikani[i].RokZahajeniCinnosti)
                </div>

                <div class="large-2 columns">
                    <label>&nbsp;</label><a href="#" onclick="
if ($(this).parent().parent().parent().children().length > 1){ $(this).parent().parent().remove();}return false; "
                                            class="button small" style="width: 15ex">Vymazat</a>
                </div>
            </div>
        }
    </div>
    <div class="row">
        <div class="large-10 columns">&nbsp;</div>
        <div class="large-2 columns">
            <label>&nbsp;</label><span onclick="addNewRow(this)"
                                       class="button small" style="width: 15ex">Přidat</span>
        </div>
    </div>
</fieldset>

<fieldset id="Ucetnictvi">
    <legend>Vyplní žadatelé vedoucí účetnictví (nevyplňují pouze žadatelé s daňovou evidencí):</legend>
    <div class="row">
        <div class="large-4 columns" style="text-align:right;">
            <label><span><br /></span></label>
        </div>
        <div class="large-4 columns">
            <div class="switch">
                @Html.RadioButtonFor(m => m.IsUcetnictvi, false, new { @checked = "checked", @id = "rbUcetnictviOff" })
                <label>Daňová evidence</label>
                @Html.RadioButtonFor(m => m.IsUcetnictvi, true, new { @id = "rbUcetnictviOn" })
                <label>Účetnictví</label>

                <span></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-6 columns">@Html.LabelWithAsterixFor(m => m.CZNACE)@Html.EditorFor(m => m.CZNACE)@Html.ValidationMessageFor(m => m.CZNACE)</div>
        <div class="large-6 columns">@Html.LabelWithAsterixFor(m => m.DobaPodnikani)@Html.EditorFor(m => m.DobaPodnikani) @Html.ValidationMessageFor(m => m.DobaPodnikani)</div>
    </div>
    <div class="row">
        <div class="large-6 columns">@Html.LabelWithAsterixFor(m => m.Ucet1)@Html.EditorFor(m => m.Ucet1) @Html.ValidationMessageFor(m => m.Ucet1)</div>
        <div class="large-6 columns">@Html.LabelWithAsterixFor(m => m.Ucet2)@Html.EditorFor(m => m.Ucet2) @Html.ValidationMessageFor(m => m.Ucet2)</div>
    </div>
    <div class="row">
        <div class="large-6 columns">@Html.LabelWithAsterixFor(m => m.Ucet3)@Html.EditorFor(m => m.Ucet3) @Html.ValidationMessageFor(m => m.Ucet3)</div>
        <div class="large-6 columns">@Html.LabelWithAsterixFor(m => m.Ucet4)@Html.EditorFor(m => m.Ucet4) @Html.ValidationMessageFor(m => m.Ucet4)</div>
    </div>
    <div class="row">
        &nbsp;
    </div>
    <div class="row">
        <label>Stav krátkodobých pohledávek po splatnosti více jak 180 dnů (v tis. Kč):</label>
    </div>
    <div class="row">
        &nbsp;
    </div>
    <div class="row">
        <div class="large-4 columns">@Html.LabelWithAsterixFor(m => m.Ucet51)@Html.EditorFor(m => m.Ucet51) @Html.ValidationMessageFor(m => m.Ucet51)</div>
        <div class="large-4 columns">@Html.LabelWithAsterixFor(m => m.Ucet61)@Html.EditorFor(m => m.Ucet61) @Html.ValidationMessageFor(m => m.Ucet61)</div>
        <div class="large-4 columns">@Html.LabelWithAsterixFor(m => m.Ucet71)@Html.EditorFor(m => m.Ucet71) @Html.ValidationMessageFor(m => m.Ucet71)</div>
    </div>
    <div class="row">
        &nbsp;
    </div>
    <div class="row">
        <label>Stav krátkodobých závazků po splatnosti více jak 180 dnů (v tis. Kč):</label>
    </div>
    <div class="row">
        &nbsp;
    </div>
    <div class="row">
        <div class="large-4 columns">@Html.LabelWithAsterixFor(m => m.Ucet52)@Html.EditorFor(m => m.Ucet52) @Html.ValidationMessageFor(m => m.Ucet52)</div>
        <div class="large-4 columns">@Html.LabelWithAsterixFor(m => m.Ucet62)@Html.EditorFor(m => m.Ucet62) @Html.ValidationMessageFor(m => m.Ucet62)</div>
        <div class="large-4 columns">@Html.LabelWithAsterixFor(m => m.Ucet72)@Html.EditorFor(m => m.Ucet72) @Html.ValidationMessageFor(m => m.Ucet72)</div>
    </div>

</fieldset>

    <fieldset id="zamereniZemedelskeVyroby">
        <legend>Zaměření zemědělské výroby</legend>
        <div class="data">
            <div class="row">
                <div class="large-4 columns">
                    <div class="checkbox_main"><div class="checkbox_val">@Html.EditorFor(m => m.RostlinnaVyroba)</div><div class="checkbox_label">@Html.LabelWithAsterixFor(m => m.RostlinnaVyroba)</div></div>
                    <div class="checkbox_main"><div class="checkbox_val">@Html.EditorFor(m => m.ZivocisnaVyroba)</div><div class="checkbox_label">@Html.LabelWithAsterixFor(m => m.ZivocisnaVyroba)</div></div>
                    <div class="checkbox_main"><div class="checkbox_val">@Html.EditorFor(m => m.JinaVyroba)</div><div class="checkbox_label">@Html.LabelWithAsterixFor(m => m.JinaVyroba)</div></div>
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset id="fieldset_StrukturaPestovanychPlodin" style="display: none;">
        <legend>Struktura pěstovaných plodin</legend>
        <div class="row">
            <div class="large-6 columns">
                @Html.EditorFor(m => m.StrukturaPestovanychPlodin)
                @Html.ValidationMessageFor(m => m.StrukturaPestovanychPlodin)
            </div>
        </div>
    </fieldset>

    <fieldset id="fieldset_StrukturaChovanychZvirat" style="display: none;">
        <legend>Struktura chovaných zvířat</legend>
        <div class="row">
            <div class="large-6 columns">
                @Html.EditorFor(m => m.StrukturaChovanychZvirat)
                @Html.ValidationMessageFor(m => m.StrukturaChovanychZvirat)
            </div>
        </div>
    </fieldset>

    <fieldset id="fieldset_StrukturaJinaVyroba" style="display: none;">
        <legend>Jiná výroba</legend>
        <div class="row">
            <div class="large-6 columns">
                @Html.EditorFor(m => m.StrukturaJinaVyroba)
                @Html.ValidationMessageFor(m => m.StrukturaJinaVyroba)
            </div>
        </div>
    </fieldset>



    <fieldset>
        <legend>Podnikatelský záměr</legend>
        <div class="row">
            <input type="file" name="files" value="" multiple="multiple" />
        </div>
    </fieldset>


    <fieldset>
        <legend>Čestné prohlášení</legend>

        <div class="row">
            <div class="large-10 columns">Prohlašuji, že údaje uvedené v této žádosti o podporu Podpůrného garančního rolnického a lesnického fondu, a.s. a v jejích přílohách jsou pravdivé a že splňují všechny obecné podmínky pro poskytnutí Podpory. Jsem si vědom/vědoma právních následků případného uvedení nepravdivých nebo neúplných údajů. </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="large-10 columns">Prohlašuji, že mi není známo, že by k níže uvedenému datu byl na majetek žadatele prohlášen konkurs či vstoupil do likvidace nebo že probíhá řízení dle insolvenčního zákona.</div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="large-10 columns">Vyberete z níže uvedených variant: </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="large-1 columns">@Html.RadioButtonFor(m => m.CP1, "1")</div>
            <div class="large-9 columns">Prohlašuji, že jsem požádal nebo budu žádat na stejný podnikatelský záměr, uvedený v příloze této žádosti, o podporu v rámci opatření Programu rozvoje venkova. </div>
            <div class="large-2 columns">&nbsp;</div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="large-10 columns">Prohlašuji, že mi na stejný Podnikatelský záměr nebyla poskytnuta dotace nebo příspěvek z rozpočtu kapitoly Ministerstva zemědělství ani z jiných rozpočtových kapitol státního rozpočtu, státních fondů, Národního fondu či strukturálních fondů EU. Toto prohlášení se nevztahuje na podpory poskytnuté v rámci opatření Programu rozvoje venkova. </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="large-1 columns">@Html.RadioButtonFor(m => m.CP1, "2")</div>
            <div class="large-9 columns">Prohlašuji, že jsem nežádal nebo nebudu žádat na stejný podnikatelský záměr, uvedený v příloze této žádosti, o podporu v rámci opatření Programu rozvoje venkova.</div>
            <div class="large-2 columns">&nbsp;</div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="large-10 columns">Prohlašuji, že mi na stejný Podnikatelský záměr nebyla poskytnuta dotace nebo příspěvek z rozpočtu kapitoly Ministerstva zemědělství ani z jiných rozpočtových kapitol státního rozpočtu, státních fondů, Národního fondu či strukturálních fondů EU nebo Programu rozvoje venkova apod. </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="large-10 columns">Vyberete z níže uvedených variant: </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="large-1 columns">@Html.RadioButtonFor(m => m.CP2, "1")</div>
            <div class="large-9 columns">Prohlašuji, že investice uvedené v podnikatelském záměru, který je přílohou této žádosti, se nachází (budou provozovány) na území hlavního města Prahy.</div>
            <div class="large-2 columns">&nbsp;</div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="large-1 columns">@Html.RadioButtonFor(m => m.CP2, "2")</div>
            <div class="large-9 columns">Prohlašuji, že investice uvedené v podnikatelském záměru, který je přílohou této žádosti, se nenachází (nebudou provozovány) na území hlavního města Prahy.</div>
            <div class="large-2 columns">&nbsp;</div>
        </div>
        <div class="row">&nbsp;</div>

        <div class="row">
            <div class="large-10 columns">Dále svým podpisem potvrzuji, že jsem se podrobně seznámil/seznámila s Pokyny pro poskytování podpory Podpůrným a garančním rolnickým a lesnickým fondem, a.s. č.j. PGRLF, a.s.: č.j. 64855/2014 v platném znění a s Výkladovým listem k Pokynům PGRLF, a.s. v platném znění. </div>
        </div>


        <div class="row">
            <div class="large-6 columns">
                &nbsp;
            </div>

            <div class="large-2 columns">
                @Html.EditorFor(m => m.CestneProhlaseni)<br />
                <br />
                @Html.ValidationMessageFor(m => m.CestneProhlaseni)
            </div>
            <div class="large-4 columns" style="text-align:right;">
                (Potvrzuji, že souhlasím *)
            </div>
        </div>
    </fieldset>


    <fieldset>
        <legend>Souhlas se zpracováním osobních údajů</legend>
        <div class="row">
            <div class="large-10 columns"><b>I. Žadatel o poskytnutí podpory, jakožto fyzická osoba </b>(dále jen jako <b><i>„žadatel-fyzická osoba“</i></b>),</div>
        </div>
        <div class="row">
            <div class="large-10 columns">
                tímto dává společnosti Podpůrný a garanční rolnický a lesnický fond, a.s., IČ: 492 41 494, se sídlem Praha 8 – Karlín, Za Poříčskou branou 6/č.p. 256, PSČ 186 00 (dále jen jako „Správce“), v souladu se zákonem č. 101/2000 Sb., o ochraně osobních údajů a o změně některých zákonů, ve znění pozdějších předpisů (dále jen jako „ZOOÚ“), souhlas k tomu, aby Správce zpracovával ve své databázi veškeré jeho osobní údaje, které mu v budoucnu poskytne, a které byly uvedeny v žádosti o poskytnutí podpory, jejíž přílohu tvoří tento souhlas. Jedná se zejména o následující osobní údaje: jméno, příjmení, adresa trvalého pobytu, adresa místa podnikání, datum narození, rodné číslo, telefonní číslo, faxové číslo, e-mailová adresa. Tyto všechny osobní údaje budou Správcem zpracovávány automatizovaně i manuálně prostřednictvím pracovníků Správce.
                Všechny osobní údaje, které Správci žadatel-fyzická osoba poskytla nebo i v budoucnu poskytne, budou Správcem zpracovávány k následujícím účelům:
            </div>
        </div>
        <div class="row">
            <div class="large-10 columns">
                <ul class="pouceni">
                    <li>- v rámci tohoto souhlasu o zpracování údajů poskytnutého Správci;</li>
                    <li>- jednání o smluvním vztahu.</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="large-10 columns">Žadatel-fyzická osoba souhlasí s tím, že od účinnosti příslušné registrace u Úřadu pro ochranu osobních údajů je Správce oprávněn údaje dle tohoto souhlasu převést na jiného správce či zpracovatele údajů a je oprávněn poskytnuté údaje předat Ministerstvu zemědělství České republiky, za účelem jejich zveřejnění ve společném zemědělském registru.</div>
        </div>

        <div class="row">
            <div class="large-10 columns">Žadatel-fyzická osoba výslovně souhlasí, že Správce je oprávněn veškeré údaje, které mu poskytne, interně zpracovávat pro účely vyhodnocení plnění jeho závazků vůči Správci. Podpisem tohoto souhlasu uděluje Správci také souhlas s tím, aby Správce na svých internetových stránkách zveřejnil jeho osobní údaje (vyjma RČ), které byly uvedeny v žádosti o poskytnutí podpory, jejíž přílohu tvoří tento souhlas. Na internetových stránkách Správce budou údaje všem volně přístupné.</div>
        </div>
        <div class="row">
            <div class="large-10 columns">Výslovný souhlas uděluje žadatel-fyzická osoba také k tomu, aby Správce na svých internetových stránkách zveřejnil jeho osobní údaje v rozsahu dle tohoto souhlasu. Jedná se zejména o následující údaje: jméno, příjmení, adresa trvalého pobytu, adresa místa podnikání, datum narození, jakož i údaje uvedené v žádosti o poskytnutí podpory, nebo které budou žadatelem-fyzickou osobou v budoucnu poskytnuty.</div>
        </div>
        <div class="row">
            <div class="large-10 columns">Žadatel-fyzická osoba dále také výslovně souhlasí, aby Správce na svých internetových stránkách zveřejnil a volně zpřístupnil anebo aby poskytl Ministerstvu zemědělství České republiky za účelem zveřejnění údaje o: - výši poskytnuté podpory; a - výši dlužné částky, kterou eviduje Správce vůči žadateli-fyzické osobě.</div>
        </div>
        <div class="row">
            <div class="large-10 columns">Žadatel-fyzická osoba výslovně prohlašuje, že dané informace nepovažuje za své obchodní tajemství a jako takové je nechrání a ani chránit nebude.</div>
        </div>
        <div class="row">
            <div class="large-10 columns">Žadatel-fyzická osoba souhlasí, aby Správce zpracovával jeho osobní údaje za účelem a v rozsahu dle tohoto souhlasu do uplynutí 20 let od ukončení jakéhokoli časově posledního smluvního nebo jiného právního vztahu se Správcem.</div>
        </div>
        <div class="row">
            <div class="large-10 columns">Žadatel-fyzická osoba potvrzuje, že veškeré osobní údaje, které Správci poskytl nebo i budoucnu poskytne, budou zcela pravdivé a zavazuje se, že pokud dojde k jakékoliv změně v poskytnutých údajích, oznámí tuto skutečnost Správci nejpozději do 15 dnů od doby, kdy změna nastala. Pokud tuto svou povinnost nesplní, bere na vědomí, že nese odpovědnost za škodu, která Správci může vzniknout porušením jeho povinnosti. Žadatel-fyzická osoba bere na vědomí, že má právo na opravu Správci poskytnutých osobních údajů.</div>
        </div>

        <div class="row">
            <div class="large-10 columns">Žadatel-fyzická osoba bere na vědomí, že Správce je povinen údaje zveřejněné na svých internetových stránkách v souladu s tímto souhlasem aktualizovat vždy nejpozději do 30 dnů od okamžiku, kdy mu byla prokázána změna zveřejněných údajů.</div>
        </div>
        <div class="row">
            <div class="large-10 columns"><b>Poučení podle zákona č. 101/2000 Sb., o ochraně osobních údajů a o změně některých zákonů, ve znění pozdějších předpisů</b></div>
        </div>
        <div class="row">
            <div class="large-10 columns">Správce Vás tímto v souladu se ZOOÚ informuje, že osobní údaje budou zpracovávány v rozsahu, ve kterém jste je uvedl v žádosti o poskytnutí podpory či které Správci v budoucnu sdělíte v souvislosti s jednáním o smluvním vztahu a dále také v rozsahu tohoto souhlasu se zpracováním údajů. Osobní údaje budou zveřejňovány na internetových stránkách Správce a mohou být zpřístupněny fyzickým i právnickým osobám v České republice i v zahraničí. Správce Vás také upozorňuje, že poskytnutí osobních údajů je zcela dobrovolné.</div>
        </div>
        <div class="row">
            <div class="large-10 columns">Správce Vás dále informuje, že máte právo za podmínek stanovených v ustanovení § 12 ZOOÚ požádat Správce o informaci o zpracování Vašich osobních údajů, a že máte další práva stanovená v ustanovení § 21 ZOOÚ. Pokud zjistíte nebo se budete domnívat, že Správce provádí zpracování osobních údajů, které je v rozporu se zákonem, zejména jsou-li osobní údaje nepřesné s ohledem na účel jejich zpracování, můžete požádat Správce o vysvětlení, nebo můžete požadovat, aby Správce odstranil takto vzniklý stav. Zejména se můžete domáhat blokování, provedení opravy, doplnění nebo likvidace osobních údajů. V případě, že Správce poruší své zákonem stanovené povinnosti, máte právo se obrátit také na Úřad pro ochranu osobních údajů. Správce je povinen Vás také bez zbytečného odkladu informovat o blokování, opravě, doplnění nebo likvidaci osobních údajů. Žadatel-fyzická osoba je oprávněn kdykoliv souhlas se zpracováváním osobních údajů odvolat.</div>
        </div>

        <div class="row">
            <div class="large-10 columns"><b>II. Je-li žadatelem o poskytnutí podpory právnická osoba, která je zemědělským podnikatelem ve smyslu § 2 odst. 2 zákona č. 513/1991 Sb., obchodní zákoník, ve znění pozdějších předpisů, a/nebo § 2e zákona č. 252/1997 Sb., o zemědělství, ve znění pozdějších předpisů </b>(dále jen jako <b><i>„žadatel-právnická osoba“</i></b>), dává tímto Správci výslovný souhlas se zpracováním a zveřejňováním všech údajů, které Správci za účelem jednání o smluvním vztahu a v rámci tohoto souhlasu o zpracování údajů poskytne.</div>
        </div>
        <div class="row">
            <div class="large-10 columns">Žadatel-právnická osoba dále také výslovně souhlasí, aby Správce na svých internetových stránkách zveřejnil a volně zpřístupnil anebo aby poskytl Ministerstvu zemědělství České republiky za účelem zveřejnění údaje o: - výši poskytnuté podpory; a - výši dlužné částky, kterou eviduje Správce vůči žadateli-právnické osobě.</div>
        </div>
        <div class="row">
            <div class="large-10 columns">Žadatel-právnická osoba výslovně prohlašuje, že dané informace nepovažuje za své obchodní tajemství a jako takové je nechrání a ani chránit nebude.</div>
        </div>
        <div class="row">
            <div class="large-10 columns">Žadatel-právnická osoba bere na vědomí, že Správce je povinen údaje zveřejněné na svých internetových stránkách v souladu s tímto souhlasem aktualizovat vždy nejpozději do 30 dnů od okamžiku, kdy mu byla prokázána změna zveřejněných údajů.</div>
        </div>
        <div class="row">
            <div class="large-10 columns">Žadatel-právnická osoba bere na vědomí, že tento souhlas se zveřejněním údajů nemůže vzít jednostranně zpět a souhlasí, aby Správce zpracovával všechny údaje do uplynutí 20 let od ukončení jakéhokoli časově posledního smluvního nebo jiného právního vztahu se Správcem.</div>
        </div>
        <div class="row">
            <div class="large-6 columns">
                &nbsp;
            </div>

            <div class="large-2 columns">
                @Html.EditorFor(m => m.Souhlas)<br />
                <br />@Html.ValidationMessageFor(m => m.Souhlas)
            </div>
            <div class="large-4 columns" style="text-align:right;">
                (Potvrzuji, že souhlasím *)
            </div>
        </div>

    </fieldset>


    @section scripts{
        <script type="text/javascript">
            //Initialize
            ShowHideZamereniZemedelskeVyroby();

            function addNewRow(t) {
                var html = $(t).closest('fieldset').children('.data').children()[0].outerHTML;
                var randomnumber = Math.floor(Math.random() * 1000) + 1000;
                /*id replace*/
                html = html.replace(/value="0"/gi, 'value="' + randomnumber + '"');
                html = html.replace(/_0_/gi, "_" + randomnumber + "_");
                html = html.replace(/\[0\]/gi, "[" + randomnumber + "]");
                $(t).closest('fieldset').children('.data').append(html);
                return false;
            }

            function isChecked(idx) {
                return idx.hasClass('checked');
            }

            function ShowHideZamereniZemedelskeVyroby() {
                setTimeout(function () {

                    if (isChecked($('#RostlinnaVyroba').next())) {
                        $('#fieldset_StrukturaPestovanychPlodin').slideDown();
                    } else {
                        $('#fieldset_StrukturaPestovanychPlodin').slideUp();
                    }
                    if (isChecked($('#ZivocisnaVyroba').next())) {
                        $('#fieldset_StrukturaChovanychZvirat').slideDown();
                    } else {
                        $('#fieldset_StrukturaChovanychZvirat').slideUp();
                    }
                    if (isChecked($('#JinaVyroba').next())) {
                        $('#fieldset_StrukturaJinaVyroba').slideDown();
                    } else {
                        $('#fieldset_StrukturaJinaVyroba').slideUp();
                    }
                }, 5);
            }

            $('#zamereniZemedelskeVyroby').click(function (e) {
                ShowHideZamereniZemedelskeVyroby();
            });

            $('input[name="UkonceniCinnosti"]').change(function (e) {
                var rbVal = $(this).val();
                if (rbVal == "False") {
                    $('#DatumUkonceniCell').hide();
                }
                if (rbVal == "True") {
                    $('#DatumUkonceniCell').show();
                }
            });

            $('input[name="ProdejPodniku"]').change(function (e) {
                var rbVal = $(this).val();
                if (rbVal == "False") {
                    $('#DatumProdejeCell').hide();
                }
                if (rbVal == "True") {
                    $('#DatumProdejeCell').show();
                }
            });

            function switchFP(pravnicka) {

                if (pravnicka == true) {
                    $("#fsFyzickaOsoba").hide(100);
                    $("#fsPravnickaOsoba").show(100);
                } else {
                    $("#fsFyzickaOsoba").show(100);
                    $("#fsPravnickaOsoba").hide(100);
                }
            }

            function switchZver(pravnicka) {

                if (pravnicka == true) {
                    $("#fieldset_pocetZvirat").show(100);
                    $("#CPZvirata").show(100);
                } else {
                    $("#fieldset_pocetZvirat").hide(100);
                    $("#CPZvirata").hide(100);
                }
            }

            function switchElement(element, value) {
                if (value == false) {
                    $(element).hide(100);
                } else {
                    $(element).show(100);
                }
            }

            function nastavFunkceProTypSpolecnosti(typspolecnosti, fieldName) {
                if (typspolecnosti == "Akciová společnost") {
                    $('#' + fieldName + ' option[value="Místopředseda představenstva"]').removeAttr("DISABLED");
                    $('#' + fieldName + ' option[value="Předseda představenstva"]').removeAttr("DISABLED");
                    $('#' + fieldName + ' option[value="Člen představenstva"]').removeAttr("DISABLED");
                    $('#' + fieldName + ' option[value="Jednatel"]').attr("DISABLED", "");
                    $('#' + fieldName + ' option[value="Komplementář"]').attr("DISABLED", "");
                    $('#' + fieldName + ' option[value="Společník"]').attr("DISABLED", "");
                    $(document).foundation();
                }
                if (typspolecnosti == "Společnost s ručením omezeným") {
                    $('#' + fieldName + ' option[value="Místopředseda představenstva"]').attr("DISABLED", "");
                    $('#' + fieldName + ' option[value="Předseda představenstva"]').attr("DISABLED", "");
                    $('#' + fieldName + ' option[value="Člen představenstva"]').attr("DISABLED", "");
                    $('#' + fieldName + ' option[value="Jednatel"]').removeAttr("DISABLED");
                    $('#' + fieldName + ' option[value="Komplementář"]').attr("DISABLED", "");
                    $('#' + fieldName + ' option[value="Společník"]').attr("DISABLED", "");
                    $(document).foundation();
                }
                if (typspolecnosti == "Komanditní společnost") {
                    $('#' + fieldName + ' option[value="Místopředseda představenstva"]').attr("DISABLED", "");
                    $('#' + fieldName + ' option[value="Předseda představenstva"]').attr("DISABLED", "");
                    $('#' + fieldName + ' option[value="Člen představenstva"]').attr("DISABLED", "");
                    $('#' + fieldName + ' option[value="Jednatel"]').attr("DISABLED", "");
                    $('#' + fieldName + ' option[value="Komplementář"]').removeAttr("DISABLED");
                    $('#' + fieldName + ' option[value="Společník"]').attr("DISABLED", "");
                    $(document).foundation();
                }
                if (typspolecnosti == "Veřejná obchodní společnost") {
                    $('#' + fieldName + ' option[value="Místopředseda představenstva"]').attr("DISABLED", "");
                    $('#' + fieldName + ' option[value="Předseda představenstva"]').attr("DISABLED", "");
                    $('#' + fieldName + ' option[value="Člen představenstva"]').attr("DISABLED", "");
                    $('#' + fieldName + ' option[value="Jednatel"]').attr("DISABLED", "");
                    $('#' + fieldName + ' option[value="Komplementář"]').attr("DISABLED", "");
                    $('#' + fieldName + ' option[value="Společník"]').removeAttr("DISABLED");
                    $(document).foundation();
                }
                if (typspolecnosti == "Družstvo") {
                    $('#' + fieldName + ' option[value="Místopředseda představenstva"]').removeAttr("DISABLED");
                    $('#' + fieldName + ' option[value="Předseda představenstva"]').removeAttr("DISABLED");
                    $('#' + fieldName + ' option[value="Člen představenstva"]').removeAttr("DISABLED");
                    $('#' + fieldName + ' option[value="Jednatel"]').attr("DISABLED", "");
                    $('#' + fieldName + ' option[value="Komplementář"]').attr("DISABLED", "");
                    $('#' + fieldName + ' option[value="Společník"]').attr("DISABLED", "");
                    $(document).foundation();
                }
            }

            $(document).ready(function () {
                $('#rbMistoFoOff').change(function () {
                    switchElement('#misto_fo', true);
                });
                $('#rbMistoFoOn').change(function () {
                    switchElement('#misto_fo', false);
                });
                $('#rbMistoPoOff').change(function () {
                    switchElement('#misto_po', true);
                });
                $('#rbMistoPoOn').change(function () {
                    switchElement('#misto_po', false);
                });
                $('#rbSpecOff').change(function () {
                    switchElement('#poistSpec', false);
                });
                $('#rbSpecOn').change(function () {
                    switchElement('#poistSpec', true);
                });
                $('#rbOstOff').change(function () {
                    switchElement('#poistOst', false);
                });
                $('#rbOstOn').change(function () {
                    switchElement('#poistOst', true);
                });
                $('#rbHospOff').change(function () {
                    switchElement('#poistHosp', false);
                });
                $('#rbHospOn').change(function () {
                    switchElement('#poistHosp', true);
                });

                $('#rbFO').change(function () {
                    switchFP(false);
                });
                $('#rbPO').change(function () {
                    switchFP(true);
                });

                $('#rbZvirata').change(function () {
                    switchZver(true);
                });

                $('#rbTechnika').change(function () {
                    switchZver(false);
                });

                $('#rbMajetek').change(function () {
                    switchZver(false);
                });

                $('#POTypPO').change(function () {
                    nastavFunkceProTypSpolecnosti($('#POTypPO').val(), "ZO1Funkce");
                    nastavFunkceProTypSpolecnosti($('#POTypPO').val(), "ZO2Funkce");
                    nastavFunkceProTypSpolecnosti($('#POTypPO').val(), "ZO3Funkce");
                });
                nastavFunkceProTypSpolecnosti($('#POTypPO').val(), "ZO1Funkce");
                nastavFunkceProTypSpolecnosti($('#POTypPO').val(), "ZO2Funkce");
                nastavFunkceProTypSpolecnosti($('#POTypPO').val(), "ZO3Funkce");
            });

            $('input[name="PredmetPodnikaniOld"]').change(function (e) {
                var rbVal = $(this).val();
                if (rbVal != "Jine") {
                    $('#JinaCinnostPopisOld').hide();
                } else {
                    $('#JinaCinnostPopisOld').show();
                }
            });
        </script>
    }
