@model PGRLF.MainWeb.Forms.FormClasses.Templates.PravnickaOsoba

<fieldset class="fieldset">
    <legend>Právnická osoba</legend>
    <div class="row">
        <div class="large-8 columns">
            @Html.LabelWithAsterixFor(m => m.ObchodniJmeno)
            @Html.EditorFor(m => m.ObchodniJmeno)
            @Html.ValidationMessageFor(m => m.ObchodniJmeno)
        </div>
        <div class="large-4 columns"> 
            @Html.LabelWithAsterixFor(m => m.TypPO)
            @Html.EditorFor(m => m.TypPO)
            @Html.ValidationMessageFor(m => m.TypPO)
        </div>
    </div>
    <div class="row">
        <div class="large-6 columns">
            @Html.LabelWithAsterixFor(m => m.IC)
            @Html.EditorFor(m => m.IC)
            @Html.ValidationMessageFor(m => m.IC)
        </div>
        <div class="large-6 columns">
            @Html.LabelWithAsterixFor(m => m.DIC)
            @Html.EditorFor(m => m.DIC)
            @Html.ValidationMessageFor(m => m.DIC)
        </div>
    </div>
    <div class="row">
        <div class="large-6 columns">
            @Html.LabelWithAsterixFor(m => m.PocetSpolecniku)
            @Html.EditorFor(m => m.PocetSpolecniku)
            @Html.ValidationMessageFor(m => m.PocetSpolecniku)
        </div>
        <div class="large-6 columns">
            @Html.LabelWithAsterixFor(m => m.ZakladniKapital)
            @Html.EditorFor(m => m.ZakladniKapital)
            @Html.ValidationMessageFor(m => m.ZakladniKapital)
        </div>
    </div>

    <h6>Zodpovědné osoby</h6>
    <div class="row">
        <div class="large-2 columns">
            @Html.LabelWithAsterixFor(m => m.ZO1TitulPredJmenem)
            @Html.EditorFor(m => m.ZO1TitulPredJmenem)
            @Html.ValidationMessageFor(m => m.ZO1TitulPredJmenem)
        </div>
        <div class="large-3 columns">
            @Html.LabelWithAsterixFor(m => m.ZO1Jmeno)
            @Html.EditorFor(m => m.ZO1Jmeno)
            @Html.ValidationMessageFor(m => m.ZO1Jmeno)
        </div>
        <div class="large-3 columns">
            @Html.LabelWithAsterixFor(m => m.ZO1Prijmeni)
            @Html.EditorFor(m => m.ZO1Prijmeni)
            @Html.ValidationMessageFor(m => m.ZO1Prijmeni)
        </div>
        <div class="large-2 columns">
            @Html.LabelWithAsterixFor(m => m.ZO1TitulZaJmenem)
            @Html.EditorFor(m => m.ZO1TitulZaJmenem)
            @Html.ValidationMessageFor(m => m.ZO1TitulZaJmenem)
        </div>
        <div class="large-2 columns">
            @Html.LabelWithAsterixFor(m => m.ZO1Funkce)
            @Html.EditorFor(m => m.ZO1Funkce)
            @Html.ValidationMessageFor(m => m.ZO1Funkce)
        </div>
    </div>
    <div class="row">
        <div class="large-2 columns">
            @Html.LabelWithAsterixFor(m => m.ZO2TitulPredJmenem)
            @Html.EditorFor(m => m.ZO2TitulPredJmenem)
            @Html.ValidationMessageFor(m => m.ZO2TitulPredJmenem)
        </div>
        <div class="large-3 columns">
            @Html.LabelWithAsterixFor(m => m.ZO2Jmeno)
            @Html.EditorFor(m => m.ZO2Jmeno)
            @Html.ValidationMessageFor(m => m.ZO2Jmeno)
        </div>
        <div class="large-3 columns">
            @Html.LabelWithAsterixFor(m => m.ZO2Prijmeni)
            @Html.EditorFor(m => m.ZO2Prijmeni)
            @Html.ValidationMessageFor(m => m.ZO2Prijmeni)
        </div>
        <div class="large-2 columns">
            @Html.LabelWithAsterixFor(m => m.ZO2TitulZaJmenem)
            @Html.EditorFor(m => m.ZO2TitulZaJmenem)
            @Html.ValidationMessageFor(m => m.ZO2TitulZaJmenem)
        </div>
        <div class="large-2 columns">
            @Html.LabelWithAsterixFor(m => m.ZO2Funkce)
            @Html.EditorFor(m => m.ZO2Funkce)
            @Html.ValidationMessageFor(m => m.ZO2Funkce)
        </div>
    </div>
    <div class="row">
        <div class="large-2 columns">
            @Html.LabelWithAsterixFor(m => m.ZO2TitulPredJmenem)
            @Html.EditorFor(m => m.ZO2TitulPredJmenem)
            @Html.ValidationMessageFor(m => m.ZO2TitulPredJmenem)
        </div>
        <div class="large-3 columns">
            @Html.LabelWithAsterixFor(m => m.ZO2Jmeno)
            @Html.EditorFor(m => m.ZO2Jmeno)
            @Html.ValidationMessageFor(m => m.ZO2Jmeno)
        </div>
        <div class="large-3 columns">
            @Html.LabelWithAsterixFor(m => m.ZO2Prijmeni)
            @Html.EditorFor(m => m.ZO2Prijmeni)
            @Html.ValidationMessageFor(m => m.ZO2Prijmeni)
        </div>
        <div class="large-2 columns">
            @Html.LabelWithAsterixFor(m => m.ZO2TitulZaJmenem)
            @Html.EditorFor(m => m.ZO2TitulZaJmenem)
            @Html.ValidationMessageFor(m => m.ZO2TitulZaJmenem)
        </div>
        <div class="large-2 columns">
            @Html.LabelWithAsterixFor(m => m.ZO2Funkce)
            @Html.EditorFor(m => m.ZO2Funkce)
            @Html.ValidationMessageFor(m => m.ZO2Funkce)
        </div>
    </div>


    <h6>Adresa sídla společnosti</h6>
    @Html.EditorFor(m => m.SidloSpolecnosti);

    <h6>Místo podnikání</h6>
    <div class="row">
        <div class="large-10 columns">
            <label for="cbPOJeMistoPodnikaniStejne" class="middle">Je místo podnikání stejné jako "Adresa sídla společnosti"?</label>
        </div>
        <div class="large-2 columns">
            <div class="switch large">
                @Html.CheckBoxFor(m => m.POJeMistoPodnikaniStejne, new { @class = "switch-input", @id = "cbPOJeMistoPodnikaniStejne" })
                <label class="switch-paddle" for="FOJeMistoPodnikaniStejne">
                    <span class="switch-active" aria-hidden="true">Ano</span>
                    <span class="switch-inactive" aria-hidden="true">Ne</span>
                </label>
            </div>
        </div>
    </div>
    <div id="divPOMistoPodnikani" @if (Model.POJeMistoPodnikaniStejne) { @Html.Raw("style=\"display:none;\"") ; }>
        @Html.EditorFor(m => m.MistoPodnikani)
    </div>
</fieldset>