@model PGRLF.MainWeb.Forms.FormClasses.Templates.ZemedelskaVyroba


<div class="row">
    <div class="large-4 columns">
        @Html.LabelWithAsterixFor(m => m.Vyroba)
        @Html.EditorFor(m => m.Vyroba)
        @Html.ValidationMessageFor(m => m.Vyroba)
    </div>
    <div class="large-8 columns">
        @Html.LabelWithAsterixFor(m => m.VyrobaJine)
        @Html.EditorFor(m => m.VyrobaJine)
        @Html.ValidationMessageFor(m => m.VyrobaJine)
    </div>
</div>